<ion-view view-title="message detail" class="messageDetail">

  <!--header-->
  <ion-header-bar class="header" style="background-image: none">
    <button class="button button-icon icon ion-ios-arrow-left header_button" ng-click="goBack()"></button>
    <div class="h1 title header_title" translate="message.messageDetail"></div>
  </ion-header-bar>

  <!--content-->
  <ion-content>
    <!--message's device-->
    <div class="row">
      <div class="belong-list">
        <span class="belong-item">{{data.box}}</span>
        <span class="belong-item">{{data.room}}</span>
        <span class="belong-item">{{data.device}}</span>
      </div>
    </div>
    <!--message detail-->
    <div class="message">{{data.description}}</div>
  </ion-content>

  <!--footer-->
  <footer class="footer">
    <div class="btn" ng-hide="data.hasRead">
      <button class="button button-full btn-style" ng-click="read()">
        我已知晓
      </button>
    </div>
    <div class="btn">
      <a ng-href="{{data.link}}">
        <button class="button button-full btn-style">
          {{data.advice | translate}}
        </button>
      </a>
    </div>
  </footer>

</ion-view>
