
<ion-view class="myTab" id="myTabId">
  <div ng-include="'build/pages/index-page/indexPage.html'" ng-if="tabs[0].isActive" ng-controller="indexPageCtrl"></div>
  <div ng-include="'build/pages/message/message.html'" ng-if="tabs[1].isActive" ng-controller="messageCtrl"></div>
  <div ng-include="'build/pages/my-info/myInfo.html'" ng-if="tabs[2].isActive" ng-controller="myInfoCtrl"></div>
  <div class="bar bar-footer" style="z-index: 11;padding: 0">
    <div class="tabs tabs-icon-top">
      <div class="tab-item ink" ng-repeat="tab in tabs" ng-click="clickTab(tab)"
           ng-class="tab.isActive?'backColor-on':'backColor-off'">
        <i class="icon main-on" ng-class="tab.isActive?tab.onClass:tab.offClass"></i>
        <span ng-class="tab.isActive?'fontColor-on':'fontColor-off'">{{tab.name}}</span>
      </div>
    </div>
  </div>
</ion-view>
