<ion-view view-title="绿色生活" class="chooseDevice" style="background-image: none">

  <ion-header-bar class="headColor">
    <button class="button button-icon icon ion-ios-arrow-left iconColor" ng-click="goBack()"></button>
    <div class="h1 title iconColor" translate="my-info.greenLife.greenLife">绿&nbsp;色&nbsp;生&nbsp;活</div>
  </ion-header-bar>

  <ion-content style="background-color: #0D0F11;">
    <ion-list>
      <li class="item item-icon-right itemColor iconColor"
          ng-repeat="device in deviceList">
        <span translate={{device}} style="margin-left:0.5rem;"></span>
        <i class="icon ion-ios-arrow-right"></i>
      </li>
    </ion-list>
  </ion-content>

</ion-view>

