.toiletClass {
  .contentStyle {
    margin-top: 44px;
  }
  .functionIcon {
    border-radius: 50%;
    border: 1px solid black;
    width: 70px;
    height: 70px;
    line-height: 70px;
  }
  .fa{
    justify-content:center;//子元素水平居中
    align-items:center;//子元素垂直居中
    display:-webkit-flex;
  }
}

