<ion-view view-title="toilet" class="toiletClass">
  <div class="bar bar-header">
    <button class="button button-icon icon ion-ios-arrow-left"></button>
    <div class="h1 title">马桶</div>
    <button class="button button-icon icon ion-more" ng-click="openPopover($event)"></button>
  </div>
  <ion-content class="contentStyle">

    <div style="height: 50%">

    </div>
    <div class="functionModal">
      <div class="list">
        <div class="item">
        </div>
        <div class="item" ng-repeat="items in functionList" ng-click="choose(items)">
          <div class="row">
            <div class="col-25 fa" ng-repeat="item in items">
              <div>
                <div class="functionIcon"></div>
                <div class="text-center">{{item.name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>

