/**
* 基础字体大小
*/
$font-size-small: 014rem !default;
$font-size: 0.15rem !default;
$font-size-big: 0.17 !default;
$color-base: white !default;

  //字色
$color-text-key: #FFFFFF !default;
$color-text-value: #565A64 !default;
//界面背景色
$global-background:#FAFAFA !default;
//head背景色
$global-head-bg:#1A1E28  !default;
//boder
$global-border: #51D8BD !default;
//
