/**
* 基础字体大小
*/
$font-size-small: 14px !default;
$font-size: 15px !default;
$font-size-big: 17px !default;
$color-base: white !default;
//字色
$color-text-key: #363636 !default;
$color-text-value: #9E9E9E !default;
//界面背景色
$global-background:#FAFAFA !default;
//head背景色
$global-head-bg:#FB8030 !default;
//boder
$global-border:#E9E9E9 !default;
