<ion-view view-title="登录" class="login" calculate-portrait="big-portrait,little-portrait" ng-if="isFirstStep">
  <ion-content class="content-style" has-bouncing="false" scrollbar-y="false" delegate-handle="loginScroll">
    <button class="button button-icon btn-right" ng-click="goback();">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
    <div class="hand_logo">
      <img src="build/img/login/logo@3x.png">
    </div>
    <div>
      <ion-item class="login-item">
        <div  class="login_user_img">
          <img src="build/img/login/password@3x.png">
        </div>
        <input type="text" autocomplete="off" class="account-input phone-input"
               ng-model="accountInfo.account" translate-attr="{placeholder: 'login.createNew.enterPhoneNum'}"/>
        <div class="gray-line"></div>
    </div>
    <div>
      <div class="step" ng-click="findPwdFirstStep()" ng-show="showNextBtn"><span translate="login.createNew.nextStep"></span></div>
      <div class="step nextStep" ng-show="showNextBtnHidden"><span translate="login.createNew.nextStep"></span></div>
    </div>
    <br><br>
  </ion-content>
</ion-view>

<ion-view view-title="登录" class="login" calculate-portrait="big-portrait,little-portrait" ng-if="isSecondStep">
  <ion-content class="content-style" has-bouncing="false" scrollbar-y="false" delegate-handle="loginScroll">
    <button class="button button-icon btn-right" ng-click="goback();">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
    <div class="hand_logo">
      <img src="build/img/login/logo@3x.png">
    </div>
    <div>
      <ion-item class="login-item">
        <div class="login_user_img">
          <img src="build/img/login/user@3x.png">
        </div>

        <input type="text" autocomplete="off" class="username-input" ng-model="phoneRegisterInfo.securityCode"
               translate-attr="{placeholder: 'login.createNew.securityCode'}"/>
        <div class="get-code">
          <a href="javascript:" class="get-code-a" ng-click="sendphonecode(reg_phone)" ng-bind="paracont"></a>
        </div>
    </div>
    <div>
      <div class="step" ng-click="findPwdFirstStep()" ng-if="showNextBtn"><span translate="login.createNew.nextStep"></span></div>
      <div class="step nextStep" ng-if="showNextBtnHidden"><span translate="login.createNew.nextStep"></span></div>
    </div>
    <br><br>
  </ion-content>
</ion-view>

