<ion-view class="karess-learn">
  <div class="bar bar-header header" style="background-image: none">
    <button class="button button-icon icon ion-ios-arrow-left header_buttonRig" ng-click="goBack()"></button>
    <div class="h1 title header_title" translate="karessController.karessLearn.title">浴缸机器学习设置</div>
  </div>
  <ion-content class="toilet-bg">
    <!--<div style="width: 100vh;background: black">-->
      <!--<img ng-src="{{image}}" ng-click="next()" style="width: 100vw;">-->
    <!--</div>-->
    <div class="row">
      <div class="col col-70 col-center font-sizekey">
        <span style="font-family: PingFangSC-Light;" translate="karessController.karessLearn.switchTitle">允许坐便器执行学习的结果</span>
      </div>
      <div class="col col-30 col-center textright auto-fangai-col70">
        <img style="height: 0.5rem;"  ng-src="{{img}}" ng-click="change()">
      </div>
    </div>
    <div style="padding: 0.1rem;margin-bottom: 0.2rem;font-family: PingFangSC-Light;font-size: 0.25rem;line-height: 0.3rem;" translate="karessController.karessLearn.description">开启后，坐便器将根据您的使用轨迹，在最佳时间加热座圈到最适温度，并在不使用的时间中自动清洁坐便器。</div>
    <div style="width: 100%;text-align: center;margin-bottom: 0.2rem;">
      <span href="javascript:;"  on-finish-render ng-click="changeModel('day')"
            ng-class="{true:'day-click',false:'day'}[isDay]" translate="karessController.karessLearn.day" >日</span>
      <span href="javascript:;"  on-finish-render ng-click="changeModel('week')"
            ng-class="{true:'week',false:'week-click'}[isDay]" translate="karessController.karessLearn.week" >周</span>
    </div>
    <br>

    <div style="width: 100vh;background: black">
      <img  ng-src="{{image}}"  style="width: 100vw;">
    </div>

    <!--<div class="modestyle">-->
        <!--<div class="row" ng-click="openModal('autofangai')">-->
          <!--<div class="col col-30 col-center font-sizekey">-->
                <!--<span translate="toiletSetting.autofangai"></span>-->
          <!--</div>-->
          <!--<div class="col col-70 col-center textright auto-fangai-col70">-->
            <!--<span class="fangai-col70-reaction font-sizevalue" translate={{toilteSettingData.gaiganyinDistance}}></span>-->
            <!--&lt;!&ndash;<span class="font-sizevalue" translate={{toilteSettingData.gaiganyinDistance}}></span>&ndash;&gt;-->
            <!--<img src="build/img/toilet-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col col-30 col-center font-sizekey">-->
              <!--<span translate="toiletSetting.autochongshui"></span>-->
            <!--</div>-->
            <!--<div class="col col-70 col-center textright auto-fangai-col70">-->
              <!--<label class="toggle toggle-dark">-->
                <!--<input type="checkbox" ng-checked="chongshuisetval" ng-click="changeCheckVal('autochongshui')">-->
                <!--<div class="track">-->
                  <!--<div class="handle"></div>-->
                <!--</div>-->
              <!--</label>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col col-50 col-center font-sizekey">-->
            <!--<span translate="toiletSetting.autochuchou"></span>-->
          <!--</div>-->
          <!--<div class="col col-50 col-center textright auto-fangai-col70">-->
            <!--<label class="toggle toggle-dark">-->
              <!--<input type="checkbox" ng-checked="chuchousetval" ng-click="changeCheckVal('autochuchou')">-->
              <!--<div class="track">-->
                <!--<div class="handle"></div>-->
              <!--</div>-->
            <!--</label>-->
          <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modestyle">-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col col-30 col-center font-sizekey">&ndash;&gt;-->
          <!--&lt;!&ndash;<span translate="toiletSetting.autoanjianvoice"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col col-70 col-center textright auto-fangai-col70">&ndash;&gt;-->
          <!--&lt;!&ndash;<label class="toggle toggle-dark">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="checkbox" ng-checked="anjianvoicesetval">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="track">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="handle"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</label>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col col-50 col-center font-sizekey">&ndash;&gt;-->
          <!--&lt;!&ndash;<span translate="toiletSetting.welcomemodoe"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="col col-50 col-center textright auto-fangai-col70">&ndash;&gt;-->
          <!--&lt;!&ndash;<label class="toggle toggle-dark">&ndash;&gt;-->
            <!--&lt;!&ndash;<input type="checkbox" ng-checked="welcomemsetval">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="track">&ndash;&gt;-->
              <!--&lt;!&ndash;<div class="handle"></div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;</label>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--<div class="row" ng-click="goSettingInfo('lightSetting')">-->
        <!--<div class="col col-30 col-center font-sizekey">-->
          <!--<span translate="toiletSetting.dengguanset"></span>-->
        <!--</div>-->
        <!--<div class="col col-70 col-center textright auto-fangai-col70">-->
          <!--<img src="build/img/toilet-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="modestyle">-->
      <!--<div class="row" ng-click="openModal('jiedianset')">-->
        <!--<div class="col col-30 col-center font-sizekey">-->
          <!--<span translate="toiletSetting.jiedianset"></span>-->
        <!--</div>-->
        <!--<div class="col col-70 col-center textright auto-fangai-col70">-->
          <!--<span class="fangai-col70-reaction font-sizevalue" translate={{toilteSettingData.jieDianSeting}}></span>-->
          <!--<span class="fangai-col70-reaction font-sizevalue" translate={{toilteSettingData.jiedianDanwei}}></span>-->
          <!--<img src="build/img/toilet-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="modestyle modelast">-->
      <!--<div class="row" ng-click="goSettingInfo('cleargearPlan')">-->
        <!--<div class="col col-30 col-center font-sizekey">-->
          <!--<span translate="toiletSetting.toiletclear"></span>-->
        <!--</div>-->
        <!--<div class="col col-70 col-center textright auto-fangai-col70">-->
          <!--<img src="build/img/toilet-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col col-30 col-center font-sizekey">-->
          <!--<span translate="toiletSetting.errortotal"></span>-->
        <!--</div>-->
        <!--<div class="col col-70 col-center textright auto-fangai-col70">-->
          <!--<img src="build/img/toilet-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row"  ng-click="isCheckDeviceInfoSet()">-->
        <!--<div class="col col-30 col-center font-sizekey">-->
          <!--<span translate="toiletSetting.recoverset"></span>-->
        <!--</div>-->
        <!--<div class="col col-70 col-center textright auto-fangai-col70">-->
          <!--<img src="build/img/toilet-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="col col-30 col-center font-sizekey">-->
          <!--<span translate="toiletSetting.checkdeviceInfo"></span>-->
        <!--</div>-->
        <!--<div class="col col-70 col-center textright auto-fangai-col70">-->
          <!--<img src="build/img/toilet-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </ion-content>
</ion-view>
