<ion-view view-title="登录" class="login" calculate-portrait="big-portrait,little-portrait" ng-if="isMailRsg">
  <ion-content class="content-style" has-bouncing="false" scrollbar-y="false" delegate-handle="loginScroll">
    <button class="button button-icon btn-right" ng-click="goback();">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
    <div class="hand_logo">
      <img src="build/img/login/logo@3x.png">
    </div>
    <div>
      <ion-item class="login-item">
        <div class="login_user_img">
          <img src="build/img/login/user@3x.png">
        </div>
        <input type="text" autocomplete="off" class="username-input" ng-model="mailRegisterInfo.email" translate-attr="{placeholder: 'login.createNew.enterEmail'}" ng-blur="emailBlur()"/>
        <ion-item class="user-clear-item" ng-show="showUserClearButton">
          <button class="button button-block clear-button" ng-click="clearMailValue()">
            <img src="build/img/login/cancel@3x.png" class="clear-image"/>
          </button>
        </ion-item>
        <div class="gray-line"></div>
        <div  class="login_pwd_img">
          <img src="build/img/login/password@3x.png">
        </div>
        <input type="password" autocomplete="off" class="password-input" ng-model="mailRegisterInfo.password" translate-attr="{placeholder: 'login.createNew.moreSix'}"
               ng-blur="checkPassword()"/>
        <ion-item class="password-clear-item" ng-show="showPasswordClearButton">
          <button class="button button-block clear-button">
            <img src="build/img/login/cancel@3x.png" class="clear-image"/>
          </button>
        </ion-item>
        <div class="gray-line"></div>
    </div>
    <div>
      <div class="hasPassword" ng-click="registered()" ng-if="showNextRsgBtn"><span translate="login.createNew.nextStep"></span></div>
      <div class="hasPassword nextStep" ng-if="showNextBtn"><span translate="login.createNew.nextStep"></span></div>
    </div>
    <br><br>

    <div class="text-center">
      <br>
      <p><span translate="login.createNew.checkNextStep"></span></p>
      <p><span translate="login.createNew.role"></span><span class="aggrement-color" translate="login.createNew.aggrement" ng-click="getAggrementInfo();"></span></p>
    </div>
    <div>
      <span class="phone-register" translate="login.createNew.phoneRegister" ng-click="showPhoneRsg();"></span>
    </div>
  </ion-content>
</ion-view>

<ion-view view-title="登录" class="login" calculate-portrait="big-portrait,little-portrait" ng-if="isPhoneRsg">
  <ion-content class="content-style" has-bouncing="false" scrollbar-y="false" delegate-handle="loginScroll">
    <button class="button button-icon btn-right" ng-click="goback();">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
    <div class="hand_logo">
      <img src="build/img/login/logo@3x.png">
    </div>
    <div>
      <ion-item class="login-item">
        <!--<span class="email-desc" translate="login.createNew.email"></span>-->
        <div class="login_user_img">
          <img src="build/img/login/user@3x.png">
        </div>
        <div class="styled-select select">
          <select id="country" class="username-input">
            <option value="China">China</option>
            <option value="American">American</option>
            <option value="England">England</option>
          </select>
        </div>
        <div class="gray-line"></div>
        <div  class="login_pwd_img">
          <img src="build/img/login/password@3x.png">
        </div>
        <input type="text" autocomplete="off" class="password-input phone-input"
               ng-model="phoneRegisterInfo.phoneNumber" translate-attr="{placeholder: 'login.createNew.enterPhoneNum'}" ng-blur="phoneBlur()"/>
        <div class="gray-line"></div>
    </div>
    <div>
      <div class="hasPassword" ng-click="phoneRegistered()" ng-if="showNextRsgBtn"><span translate="login.createNew.nextStep"></span></div>
      <div class="hasPassword nextStep" ng-if="showNextBtn"><span translate="login.createNew.nextStep"></span></div>
    </div>
    <br><br>

    <div class="text-center">
      <br>
      <p><span translate="login.createNew.checkNextStep"></span></p>
      <p><span translate="login.createNew.role"></span><span class="aggrement-color" translate="login.createNew.aggrement" ng-click="getAggrementInfo();"></span></p>
    </div>
    <div>
      <span class="mail-register" translate="login.createNew.mailRegister" ng-click="showMailRsg();"></span>
    </div>
  </ion-content>
</ion-view>

<ion-view view-title="登录" class="login" calculate-portrait="big-portrait,little-portrait" ng-if="isPhoneRsgNext">
  <ion-content class="content-style" has-bouncing="false" scrollbar-y="false" delegate-handle="loginScroll">
    <button class="button button-icon btn-right" ng-click="goback();">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
    <div class="hand_logo">
      <img src="build/img/login/logo@3x.png">
    </div>
    <div>
      <ion-item class="login-item">
        <!--<span class="email-desc" translate="login.createNew.email"></span>-->
        <div class="login_user_img">
          <img src="build/img/login/user@3x.png">
        </div>

        <input type="text" autocomplete="off" class="username-input" ng-model="phoneRegisterInfo.securityCode"
               translate-attr="{placeholder: 'login.createNew.securityCode'}"/>
        <div class="get-code">
          <a href="javascript:" class="get-code-a" ng-click="sendphonecode(reg_phone)" ng-bind="paracont"></a>
        </div>
        <!--<ion-item class="user-clear-item" ng-show="showUserClearButton">
          <button class="button button-block clear-button" ng-click="clearPhoneNum();">
            <img src="build/img/login/cancel@3x.png" class="clear-image"/>
          </button>
        </ion-item>-->
        <div class="gray-line"></div>
        <div  class="login_pwd_img">
          <img src="build/img/login/password@3x.png">
        </div>
        <input type="password" autocomplete="off" class="password-input"
               ng-model="phoneRegisterInfo.password" translate-attr="{placeholder: 'login.createNew.phonePwd'}"/>
        <div class="gray-line"></div>
    </div>
    <div>
      <div class="hasPassword" ng-click="phoneLastRegistered()" ng-if="showNextCodeBtn"><span translate="login.createNew.nextStep"></span></div>
      <div class="hasPassword nextStep" ng-if="showNextCodeHiddenBtn"><span translate="login.createNew.nextStep"></span></div>
    </div>
    <br><br>

    <div class="text-center">
      <br>
      <p><span translate="login.createNew.checkNextStep"></span></p>
      <p><span translate="login.createNew.role"></span><span class="aggrement-color" translate="login.createNew.aggrement" ng-click="getAggrementInfo();"></span></p>
    </div>
    <div>
      <span class="phone-register" translate="login.createNew.mailRegister" ng-click="showMailRsg();"></span>
    </div>
  </ion-content>
</ion-view>

