<ion-view view-title="首页" class="new-application">
  <div class="application-header" ng-style="headerStyle" ng-if="showHeader">
    首页1
  </div>

  <img ng-src="build/img/banner@3x.png" class="top-bg" ng-style="bgStyle" ng-load="onLoadBg()"/>

  <ion-content class="mainApplication" style="bottom:48px;" scrollbar-y="false" on-drag="onDragContent()"
               on-swipe="onSwipeContent()" on-release="onReleaseContent()">
    <div on-release="onRelease()" class="application-setting-outer"
         ng-show="animationsEnabled">
    </div>

    <div class="calendar-container">
      <img ng-src="build/img/banner@3x.png" class="calendar-head"/>
      <div class="calendar-content">
        <div class="application-calendar">
          <img ng-src="build/img/banner@3x.png" class="blur-bg"/>
          <div class="white-bg"></div>
        </div>
      </div>
    </div>
    <hms-tab-slide-box class="hms">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" style="white-space: nowrap;width: 100%;overflow:hidden;text-align: left">
            <a href="javascript:;" ng-repeat="tab in tabs" on-finish-render> {{tab.text}}</a>
            <span class="heightLight"></span>
          </ion-scroll>
        </div>
      </div>
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide ng-repeat="tab in tabs">
          <ion-list>
            <ion-item>
              <div class="row">
                <div class="col">{{tab.text}}</div>
                <div class="col text-right"><i class="ion-plus-circled" style="font-size: 20px"></i></div>
              </div>
            </ion-item>
            <ion-item ng-repeat="item in [1,2,3,4,5,6,7,8,9,90,11,12,23,32,323,3232,323221,54,46,232]">
              Hello, {{item}}!
            </ion-item>
          </ion-list>
        </ion-slide>
      </ion-slide-box>

    </hms-tab-slide-box>
  </ion-content>
</ion-view>


