<div>
  <ion-view view-title="首页" class="new-application" style="background-image: url('build/img/index/img_home_topbackground.png');background-repeat:no-repeat;;width: 100%;background-size: cover;">

    <div class="home-info">
      <div class="img-position">
        <img class="img-size" ng-src="build/img/index/icon_home_avatar1.png"/>
        <img class="img-size" ng-src="build/img/index/icon_home_avatar2.png"/>
        <img class="img-size" ng-src="build/img/index/icon_home_avatar3.png"/>
      </div>
      <p class="my-home" translate="index.myHome"></p>

    </div>

    <div class="data-info">
      <div class="temperature">
        {{temperature}}℃
      </div>
      <div class="percentage">
        {{humidity}}%
      </div>
      <div class="temperature-ch">
        <span translate="index.humidity"></span>
      </div>
      <!--<div class="tree">
        <img ng-src="build/img/index/icon_home_outdoor.png" class="tree"/>
      </div>
      <div class="temperature-out">
        5℃
      </div>
      <div class="percentage-out">
        10%
      </div>-->
    </div>

    <ion-content class="mainApplication" style="bottom:48px;">

      <hms-tab-slide-box class="hms">
        <div class="ion-chevron-up chevron-color" ng-click="linkBox();"></div>
        <div class="tsb-icons">
          <div class="tsb-ic-wrp text-center">
            <ion-scroll direction="y" style="white-space: nowrap;width: 100%;text-align: center;" scrollbar-y="true">
              <a href="javascript:;" ng-repeat="tab in tabs" on-finish-render ng-click="changeModel(tab)" style="width: 31%;border: none;font-size: 0.32rem; color: white" translate="{{tab.text}}"></a>
              <span id="line" class="height-light" ng-show="isOneLine"></span>
              <br>
              <!--<span class="height-light2" ng-show="isSecondLine"></span>-->


              <div ng-if="isSceneModel">
                <div ng-repeat="item in modelData" ng-click="goKeyscene(item)">
                  <img class="imgll" ng-src="{{item.pictureUrl}}"/>
                  <div class="text-center interval-line">
                    <p class="font-color-self-title">{{item.title}}</p>
                    <p class="font-color-self">{{item.context}}</p>
                    <div>
                      <center>
                        <label class="switch-btn">
                          <input class="checked-switch" type="checkbox" ng-model="item.isOff"  ng-click="getSwitchStatus(item)"/>
                          <span class="text-switch" data-yes="off" data-no="on" ng-if="item.isTwoButton"></span>
                          <span class="toggle-btn" ng-show="item.isTwoButton"></span>
                          <span class="text-switch font-format" ng-show="item.isOneButton">开启</span>
                          <span class="toggle-btn only-switch" ng-show="item.isOneButton"></span>
                        </label>
                      </center>
                    </div>
                  </div>
                </div>

                <div class="row add-module text-left" ng-click="addModule()">
                  <!--<span class="add-module" translate="index.myModel"></span>-->
                  <div class="add">
                    <div class="add-font">+</div>
                    <div class="add-device">
                      <span translate="index.addModel">添加场景</span>
                    </div>
                  </div>
                </div>

              </div>

              <div ng-if="isDeviceModel">

                <div class="deviceStyle row noPadding" ng-repeat="item in deviceModel" ng-click="getDeviceInfo(item)" style="padding-top: 0.24rem;">
                  <div class="col-25 noPadding">
                    <img class="deviceImg" ng-src="{{item.pictureUrl}}"/>
                  </div>
                  <div class="col-50 noPadding" style="color: white">
                    <div class="row"><div class="deviceName">{{item.deviceType}}</div></div>
                    <div class="row noPadding">
                      <div class="deviceLine col-30 noPadding">{{item.deviceStatus}}</div>
                      <div class="deviceLine col-70 noPadding">
                        <img class="imgLine" ng-src="{{item.statusPictureUrl}}" ng-if="item.isStatus"/>
                      </div>
                    </div>
                  </div>
                  <div class="col-25 deviceStatus text-center">
                    <img class="error-img" ng-src="{{item.errorPictureUrl}}" ng-if="item.isError"/>
                    <span>{{item.deviceDesc}}</span>
                    <span style="color: #565A64"><i class="ion-ios-arrow-forward" ></i></span>
                  </div>
                </div>

                <div class="row add-module text-left" ng-click="addDevice()">
                  <!--<span class="add-module" translate="index.myDevice">我的设备</span>-->
                  <div class="add">
                    <div class="add-font">+</div>
                    <div class="add-device">
                      <span translate="index.addDevice">添加设备</span>
                    </div>
                  </div>
                </div>

              </div>
            </ion-scroll>
          </div>
        </div>



      </hms-tab-slide-box>

    </ion-content>
  </ion-view>
</div>


