.viewStyleSpa {
  background: url("../img/keyscene-period/img_scenario_period.png");
  //background-color: black;
  background-size: 100% 100%;
  animation: backgroundTransition 4s linear;
  -webkit-animation: backgroundTransition 4s linear;
  .headColor {
    background-color: $global-head-bg;
  }
  .iconColor {
    color: $color-base
  }
  .ionContent {
    margin-top: 44px;
    .nameStyle {
      color: $color-base;
      font-size: $font-size-big;
      margin-top: 1.6rem;
      margin-left: 0.36rem;
      font-family: PingFangSC-Medium;
      letter-spacing: 0.025rem;
      line-height: $font-size-big;
    }
    .contentStyle {
      color: $color-base;
      margin-top: 0.29rem;
      margin-left: 0.36rem;
      opacity: 0.5;
      font-family: PingFangSC-Regular;
      font-size: $font-size-small;
      letter-spacing: 0.015rem;
      line-height: 0.4rem;
      width: 4.84rem;
      height: 1.2rem;
    }
    .buttonClick {

      margin-top: 0.65rem;
      margin-left: 0.36rem;
      width: 1.4rem;
      height: 0.6rem;
      background: $color-base;
      font-family: PingFangSC-Medium;
      font-size: $font-size-button;
      color: #0F0F10;
      letter-spacing: 0.0081px;
    }
    .noPadding {
      padding: 0;
    }
    .divAll {
      margin-top: 1.21rem;
      margin-left: 0.36rem;
    }
    .itemDevice {
      margin-top: 0.35rem;
    }
    .deviceStyle {
      width: 6.78rem;
      height: 1.4rem;
      background-color: #1a1d28;
      border: 0.01rem solid #1a1d28;

      .deviceImg {
        width: 1.38rem;
        height: 1.38rem;
      }
      .deviceName {
        position: relative;
        top: 0.35rem;
        //left:1.755rem;
        color: $color-base;
        width: 1rem;
        height: 0.32rem;
        font-family: PingFangSC-Medium;
        letter-spacing: 0.01rem;
        line-height: $font-size;
        font-size: $font-size;
      }
      .deviceLine {
        position: relative;
        top: 0.42rem;
        color: #565A64;
        width: 1.21rem;
        height: 0.28rem;
        font-family: PingFangSC-Regular;
        font-size: $font-size-small;
        letter-spacing: 0.01rem;
        line-height: 0.28rem;
      }
      .deviceStatus {
        font-family: DINCondensed-Bold;
        font-size: $font-size-liter;
        color: #FFFFFF;
        line-height: 1.4rem;
      }
      .imgLine {
        width: 0.6rem;
        height: 0.25rem;
      }
    }
    .deviceStyleTwo {
      width: 6.78rem;
      height: 1.4rem;
      .deviceImg {
        width: 1.39rem;
        height: 1.39rem;
      }
      @-webkit-keyframes aaa {
        0% {
          width: 0%;
        }
        30% {
          width: 30%;
        }
        60% {
          width: 60%;
        }
        80% {
          width: 80%;
        }
        100% {
          width: 100%;
        }
      }
      .progress {
        width: 100%;
        height: 100%;
        line-height: 1.4rem;
        color: white;
      }
    }
  }



  .switch-btn {
    position: relative;
    display: block;
    vertical-align: top;
    width: 1.4rem;
    height: 0.56rem;
    border-radius: 0.18rem;
    cursor: pointer;
    margin-top: 6.8%;
  }
  .checked-switch {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  .text-switch {
    background-color: white;

    //border-radius: inherit;
    color: black;
    display: block;
    font-size: 0.15rem;
   // height: inherit;

    position: relative;
    text-transform: uppercase;

  }
  .text-switch:before,
  .text-switch:after{
    position: absolute;
    top: 50%;
    margin-top: -.5em;
    line-height: 1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
  }
  .text-switch:before {
    content: attr(data-no);
    right: 0.11rem;
    font-family: DINCondensed-Bold;
    font-size: 0.26rem;
    color: #0F0F10;
    letter-spacing: 0.81px;
    top:0.3rem;
  }
  .text-switch:after{
    content: attr(data-yes);
    left: 0.11rem;
    color: black;
    opacity: 0;
    font-family: DINCondensed-Bold;
    font-size: 0.26rem;
    color: #0F0F10;
    letter-spacing: 0.81px;
   top: 0.25rem
  }
  .checked-switch:checked ~ .text-switch {
    background-color: white;
    border: 1px solid gainsboro;
  }
  .checked-switch:checked ~ .text-switch:before {
    opacity: 0;
  }
  .checked-switch:checked ~ .text-switch:after {
    opacity: 1;
  }
  .toggle-btn {
    background: #1B202E;
    //border-radius: 100%;
    height: 0.62rem;
 left: -0.05rem;
  // left:0.7rem;
    position: absolute;
    top: -0.01rem;
    width: 0.7rem;

  }
  .toggle-btn:before {
    color: #aaaaaa;
    display: inline-block;
    font-size: 0.12rem;
    letter-spacing: -2px;
    padding: 4px 0;
    vertical-align: middle;
  }
  .checked-switch:checked ~ .toggle-btn {
   left: 0.8rem;

  }
  .text-switch, .toggle-btn {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
  }
}

