.greenLife{

  .headColor {
    background-color: $global-head-bg;
  }
  .iconColor {
    color: $color-base
  }

.content{

  color:rgba(255,255,255,1);
  background: rgba(15,17,18,1);
}

.row{
  text-align: center;
padding-top: 0rem;
  padding-bottom: 0rem;
}
.redWord{
  display: inline-block;
  margin-top: 0.73rem;
color:rgba(213,99,142,1);
  border-bottom: 0.03rem solid #C16685;
  width: 0.35rem;
  font-size: 0.3rem;
  padding-bottom:0.2rem;

}
  /*.one{
    display: inline-block;
    border-bottom:2px solid #C16685;
    color:rgba(213,99,142,1);
  width: 1px;
  }*/
.whiteWord{
  display: inline-block;
  margin-top: 0.73rem;
  font-size: 0.3rem;
}

  .number{
    font-family: DINCondensed-Bold;
    font-size: 0.72rem;
    color: #FFFFFF;

    line-height: 0.28rem;
    text-align: center;
    margin-top:1rem;
  }
.useWater{
  font-family: PingFangSC-Regular;
  font-size: 0.22rem;
  color: #FFFFFF;
text-align: center;
margin-top:0.3rem
}

.waterImg{
  width: 1.851rem;
  height:0.843rem;

 margin-top: 0.328rem;
}
.toCenter{
  text-align: center;
}


  .footer{

    text-align: center;
    background: linear-gradient(to right, #273B5E, #6ACBB3);

    margin: 0rem;
    font-size: 0.3rem;
    color: #FFFFFF;


  }
}
