<ion-view view-title="设备控制" class="airfoil-shower-controller">
  <ion-header-bar style="background: #1A1E28;">
    <button class="button button-icon icon ion-ios-arrow-left header_buttonRig" ng-click="goBack()"></button>
    <div class="h1 title header_title" style="color: #FFFFFF;font-size: 0.36rem" translate="airfoil-shower"></div>
  </ion-header-bar>
  <ion-content style="background-color: #0F0F0F">

    <div class="device-info">
      <div class="device-info-status">
        <img ng-src="build/img/toilet-controller/icon_devicedetail_wifi.png" class="box-img"/>
        <span class="box-text" translate="toiletController.deviceWifiInfo"></span>
        <p class="font-col" translate="{{ctemperature}}" ng-if="!isBig"></p>
        <span class="font-col-per" translate="airfoidShower.setTem"  ng-if="!isBig"></span><span class="font-col-per-c" translate="{{stemerature}}"  ng-if="!isBig"></span>
        <p class="font-col-b" translate="{{ctemperature}}" ng-if="isBig"></p>
        <span class="font-col-per-b" translate="airfoidShower.setTem"  ng-if="isBig"></span><span class="font-col-per-c-b" translate="{{stemerature}}"  ng-if="isBig"></span>

        <!--<p class="font-col-status" translate="{{status}}"></p>-->
      </div>
    </div>


    <div class="temp-info" style="height: 7.5rem;width:100%;">
      <center>
        <canvas id="canvas" width="1800" height="1200"></canvas>
      </center>
    </div>
  </ion-content>

  <ion-scroll direction="y" style="white-space: nowrap;width: 100%;text-align: center;height: 6.4rem;" class="scroll-position">
    <div class="font-set text-center">
      <span translate="airfoidShower.watering" ng-if="isUsing"></span>
      <span translate="airfoidShower.noUse" ng-if="!isUsing"></span>
    </div>
    <div>
      <img ng-src="{{waterUrl}}" class="airfoil-size"/>
    </div>

  </ion-scroll>
</ion-view>
