<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova.plugin.location" version="0.0.1">
    <name>locationPlugin</name>
    <author>CDVLocation</author>
    <description>CDVLocation</description>
    <keywords>CDVLocation</keywords>
    <license>Apache 2.0</license>
    
    <js-module charset="utf-8" name="CDVLocation" src="www/CDVLocation.js">
        <clobbers target="cordova.plugins.location" />
    </js-module>
    
	<platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="CDVLocation">
                <param name="android-package" value="com.cordova.location.CDVLocationPlugin"/>
      </feature>
    </config-file>
    <source-file src="src/android/CDVLocationPlugin.java" target-dir="src/com/cordova/location"/>
	<source-file src="src/android/lib/android-support-v4.jar" target-dir="libs/"/>

	
	<config-file parent="/manifest" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.INTERNET" />
		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    </config-file>

  </platform>
    
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVLocation">
                <param name="ios-package" value="CDVLocation"/>
            </feature>
        </config-file>
        
        <!--plist配置-->
        <config-file target="*-Info.plist"  parent="NSLocationWhenInUseUsageDescription">
            <string></string>
        </config-file>
        <config-file target="*-Info.plist"  parent="NSLocationAlwaysUsageDescription">
            <string></string>
        </config-file>

        <header-file src="src/ios/CDVLocation.h" />
        <source-file src="src/ios/CDVLocation.m" />

        
    </platform>
</plugin>
