<ion-view view-title="设备控制-马桶" class="toilet-controller">
  <div class="bar bar-header header" style="background-image: none">
    <button class="button button-icon icon ion-ios-arrow-left header_buttonRig" ng-click="goBack()"></button>
    <div class="h1 title header_title" translate="toiletController.title"></div>
  </div>
  <ion-content class="toilet-bg" overflow-scroll="true" style="overflow: hidden">
    <div class="toilet-conninfo">
      <span class="toilet-conninfo-signal">
        <img class="conninfo-signal-img" src="build/img/toilet-controller/icon_devicedetail_wifi.png" alt="">
        <span class="conninfo-signal-info" translate="toiletController.deviceWifiInfo"></span>
      </span>
      <span class="toilet-conninfo-isues">
        <img ng-if="toiletController.deviceinfoflag" class="conninfo-isues-img" src="build/img/toilet-controller/icon_devicedetail_warning.png" alt="">
        <span class="conninfo-isues-info" ng-class="{true: 'device-statususe', false: 'device-statusnouse'}[toiletController.deviceinfoflag]" translate="{{toiletController.deviceUseInfo}}"></span>
      </span>
    </div>
    <div id="ionSliderBox" style="background-color:#171A1C">
    </div>
    <div class="slidehandle-left" ng-click='slideHasChangedleft()'>
      <img class="slidehandle-left-img" src="build/img/toilet-controller/icon_right_arrow.png" alt="">
    </div>
    <div class="slidehandle-right" ng-click='slideHasChangedright()'>
      <img class="slidehandle-right-img" src="build/img/toilet-controller/icon_left_arrow.png" alt="">
    </div>
    <div class="toilet-handlenape-selec" ng-click="openModal('mode')">
      <span class="handlenape-selec-des" translate={{toiletController.handleSelecDes}}></span>
      <span class="handlenape-selec-use" translate={{toiletController.modelType}}></span>
      <img class="handlenape-selec-img" src="build/img/toilet-controller/icon_scenario_arrow.png"></img>
    </div>
    <ion-scroll class="toilet-handlenape" overflow-scroll="false">
      <div class="toilet-handlenape-list" ng-repeat="list in handlenapeListNape track by $index" ng-click="selectNapes($index)" ng-if="$index !== 12">
        <div class="handlenape-list-napes" ng-class="{true: 'napes-border', false: ''}[list.selecFlag]">
          <!--<img class="list-napes-img" ng-src={{list.imgUrl}} alt="">-->
          <!--<span class="list-napes-dec" translate={{list.handleDes}}></span>-->
          <span style="display: inline-block;padding-top:0.2rem"><img class="list-napes-img" ng-src={{list.imgUrl}} alt="" /></span>
          <p class="list-napes-dec" translate={{list.handleDes}}></p>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
