.toilet-controller {
   .toilet-bg{
     margin-top:44px;
     background-color: $global-head-bg;
     color: $color-base;
   }
  .toilet-conninfo{
    padding-top: 0.86rem;
    width: 100%;
    height: auto;
    background-color:#171A1C;
    .toilet-conninfo-signal{
      display: inline-block;
      margin-left: 0.9rem;
      height: 0.28rem;
      line-height: 0.28rem;
      .conninfo-signal-img{
        vertical-align: middle;
        height: 0.25rem;
        width: 0.354rem;
        margin-right:0.106rem;
      }
      .conninfo-signal-info{
        display: inline-block;
        width: 1.21rem;
        font-size: $font-size-small;
        color: $color-text-value;
      }
    }
    .toilet-conninfo-isues{
      display: inline-block;
      margin-left: 0.49rem;
      height: 0.28rem;
      line-height: 0.28rem;
      .conninfo-isues-img{
        width: 0.235rem;
        margin-right:0.075rem;
      }
      .device-statususe{
        color: $color-text-deviceinfo;
      }
      .device-statusnouse{
        color: gray;
      }
      .conninfo-isues-info{
        display: inline-block;
        width: 1.21rem;
        font-size: $font-size-small;
      }
    }
  }
  .toilet-parameterctl {
    position: relative;
    margin-top: 0.76rem;
    margin-left: 0.93rem;
    width: 5.64rem;
    height: 5.64rem;
    .canves-pos{
      position: absolute;
      left: 0;
      top: 0;
    }
    .toilet-parameterctl-dataimg{
      position: absolute;
      top: 1.35rem;
      left: 1.70rem;
      height: 2.6rem;
      width: 2.6rem;
      text-align: center;
      z-index: 10;
      .conninfo-parameterctl-img{
        width: 100%;
        height: 100%;
      }
    }
    .toilet-parameterctl-data {
      z-index: 4;
      position: absolute;
      top: 1.90rem;
      left: 50%;
      margin-top: 0.3rem;
      height: 1.38rem;
      text-align: center;
      transform: translate(-50%,0%);
      .toilet-parameterctl-raddata{
        font-size: $font-size-bigger;
        color: $color-base;
      }
      .toilet-parameterctl-des{
        display: block;
        margin-top: 0.15rem;
        font-size: 0.30rem;
        color: white;
      }
    }
  }
  .toilet-handlenape-selec{
    position: absolute;
    top: 6.86rem;
    z-index: 10;
    width: 100%;
    height: 1.08rem;
    line-height: 1.08rem;
    background-color:#1C202C;
    font-size: $font-size-liter;
    .handlenape-selec-des{
      margin-left: 0.9rem;
      color: $color-base;
    }
    .handlenape-selec-use{
      margin-left: 4.34rem;
      color: $global-border;
    }
    .handlenape-selec-img{
      display: inline-block;
      width: 0.193rem;
      height: 0.308rem;
      right: 0.607rem;
    }
  }
  .slidehandle-left{
    position: absolute;
    top: 4.30rem;
    left: 0.3rem;
    text-align: center;
    text-align: center;
    .slidehandle-left-img{
      height: 1rem;
      width: 0.4rem;
    }
  }
  .slidehandle-right{
    position: absolute;
    top: 4.30rem;
    right: 0.3rem;
    text-align: center;
    .slidehandle-right-img{
      height: 1rem;
      width: 0.4rem;
    }
  }
  .toilet-handlenape{
    overflow: hidden;
    position: absolute;
    top: 7.54rem;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    background-color:#1A1E28;
    .napes-border{
      border:0.03rem solid $global-border;
      border-radius: 0.08rem;
    }
    .toilet-handlenape-list{
      float: left;
      width: 23%;
      height: 1.5rem;
      padding-top: 0.6rem;
      margin-bottom: 0.3rem;
      margin-right: 2%;
      text-align: center;
      .handlenape-list-napes{
        .list-napes-img{
          width: 0.6rem;
          height: 0.6rem;
        }
        .list-napes-dec{
          font-size: $font-size-small;
          color: white;
        }
      }
    }
    .toilet-handlenape-list:last-child .handlenape-list-napes{
      //margin-bottom: 5.5rem;
      margin-bottom: 2.5rem;
    }
  }
}
