<ion-view view-title="设备控制-马桶" class="toilet-controller">
  <ion-header-bar style="background-image: none">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    <div class="h1 title">马桶</div>
    <button class="button button-icon icon ion-more" ng-click="openPopover($event)"></button>
  </ion-header-bar>
  <ion-content>
    <div class="ll">
      <span>使用中</span>
    </div>
    <ion-slide-box style="height:300px;width:100%">
      <ion-slide>
        <div class="box blue"></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"></div>
      </ion-slide>
      <ion-slide on-slide-changed="slideHasChanged(index)">
        <div class="box pink"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>


