  <div class="modal hmsModal">
    <ion-header-bar class="bar bar-border-bottom">
      <h1 class="title"></h1>
      <a class="createNewRecord" ng-click="modal.hide()">
        <i class="ion-android-close closeIcon">
        </i>
      </a>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="item" ng-repeat="items in functionList" ng-click="choose(items)">
          <div class="row"><div class="col-20" ng-repeat="item in items">item</div></div>
        </div>
      </div>
    </ion-content>
  </div>

