<ion-view view-title="{{'nextgen.title' | translate}}" class="nextgen">
  <!--header-->
  <ion-header-bar class="header">
    <button class="button button-icon icon ion-ios-arrow-left header_button" ng-click="goBack()"></button>
    <div class="h1 title header_title" translate="nextgen.title"></div>
    <img class="right-image" src="build/img/icon_dot@3x.png" ng-click="openPopover($event)"/>
  </ion-header-bar>
  <!--main-->
  <ion-content class="content" overflow-scroll="true">
    <!--connection information-->
    <div class="conninfo">
      <span class="signal" ng-show="true">
        <img class="signal-img" src="build/img/nextgen/icon_devicedetail_wifi.png" alt="wifi img">
        <span class="signal-info" translate="nextgen.deviceWifiInfo"></span>
      </span>
      <!--<span class="toilet-conninfo-signal" ng-show="!isLinkOK">-->
      <!--<img class="conninfo-signal-img" src="build/img/nextgen/icon_devicedetail_no_singal.png" alt="">-->
      <!--<span class="conninfo-signal-info" translate="nextgen.deviceNoSignal"></span>-->       <!--</span>-->
      <!--<span class="toilet-conninfo-isues">-->
      <!--<img class="conninfo-isues-img" src="build/img/nextgen/icon_devicedetail_warning.png" alt="">-->
      <!--<span class="conninfo-isues-info" translate="nextgen.deviceUseInfo"></span>-->       <!--</span>-->
    </div>
    <!--status-->
    <div class="nextgenSliderBox">
      <ion-slide-box ng-init="lockSlide()" show-pager='false'>
        <ion-slide ng-repeat='list in currentSlideData track by $index'>
          <div id={{list.parNodeid}} class='parameterctl'>
            <canvas id={{list.canves01}} class='canves-pos'></canvas>
            <canvas id={{list.canves03}} class='canves-pos'></canvas>
            <div class='parameterctl-data'>
              <div class='parameterctl-des' translate='{{waterstatus}}'></div>
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <!--outlet mode-->
    <div class="handlenape-selec" ng-click="openModal()">
      <span class="selec-des" translate="nextgen.handleSelecDes"></span>
      <img class="selec-img" src="build/img/nextgen/icon_scenario_arrow.png">
      <span class="selec-use" translate={{waterway}}></span>
    </div>
    <!--function list-->
    <ion-scroll direction="y">
      <div class="handlenape-list" ng-repeat="list in handlenapeListNape track by $index"
           ng-click="selectNapes($index)">
        <div class="list-napes" ng-class="{'napes-border':list.selecFlag}">
          <span><img class="napes-img" ng-src={{list.imgUrl}} alt=""/></span>
          <p class="napes-dec" translate={{list.handleDes}}></p>
        </div>
      </div>
      <!--watering choice-->
      <div class="is-water-switch" ng-if="showWater">
        <div class="close">
          <div class="circle-choice" ng-click="closeShowWater()">
            <span><img ng-src="build/img/nextgen/close.png" class="img-size"/></span>
          </div>
        </div>
        <div class="chixu">
          <div class="circle-choice" ng-click="chixuWater()">
            <span><img ng-src="build/img/nextgen/choice.png" class="img-size"/></span>
            <span class="des-position" translate="nextgen.chixu"></span>
          </div>
        </div>
        <div class="paikong">
          <div class="circle-choice" ng-click="paikongWater()"><span>
            <img ng-src="build/img/nextgen/choice.png" class="img-size"/></span>
            <span class="des-position" translate="nextgen.paikong"></span></div>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>

