.nextgen {

  font-family: PingFangSC-Regular;

  .content{
    overflow: auto;
    background-color: $global-head-bg;

    .conninfo {
      width: 100%;
      height: auto;
      padding-top: 0.86rem;
      background-color:#0D0F11;

      .signal {
        margin-left: 0.9rem;
        height: 0.28rem;
        line-height: 0.28rem;

        .signal-img {
          height: 0.25rem;
          width: 0.354rem;
          margin-right: 0.046rem;
          vertical-align: middle;
        }

        .signal-info {
          font-size: $font-size-small;
          color: $color-text-value;
        }
      }
      //.toilet-conninfo-isues {
      //  display: inline-block;
      //  margin-left: 0.49rem;
      //  height: 0.28rem;
      //  line-height: 0.28rem;
      //  .conninfo-isues-img {
      //    width: 0.235rem;
      //    margin-right: 0.075rem;
      //  }
      //  .conninfo-isues-info {
      //    display: inline-block;
      //    width: 1.21rem;
      //    font-size: $font-size-small;
      //    color: $color-text-deviceinfo;
      //  }
      //}
    }

    .nextgenSliderBox{
      padding-top:0.76rem;
      background-color:#0D0F11;

      .parameterctl {
        width: 5.64rem;
        height: 5.64rem;
        position: relative;
        margin-left: 0.93rem;

        .canves-pos {
          position: absolute;
          left: 0;
          top: 0;
        }

        .parameterctl-data {
          z-index: 4;
          position: absolute;
          left: 0;
          top: 2.6rem;
          width: 5.64rem;
          height: 5.64rem;
          text-align: center;

          .parameterctl-des {
            color: white;
            font-size: 0.65rem;
            white-space: nowrap;
          }
        }
      }
    }

    .handlenape-selec {
      position: absolute;
      top: 6.9rem;
      width: 100%;
      height: 1.08rem;
      z-index: 10;
      line-height: 1.08rem;
      background-color: #1C202C;
      font-size: $font-size-liter;
      letter-spacing: 0.0125rem;

      .selec-des {
        margin-left: 0.9rem;
        color: $color-base;
      }

      .selec-img {
        width: 0.193rem;
        height: 0.308rem;
        float: right;
        margin-right: 0.6rem;
        margin-top: 0.4rem;
      }

      .selec-use {
        color: $global-border;
        white-space: nowrap;
        float: right;
        margin-right: 0.2rem;
      }
    }

    .handlenape-list {
      width: 100%;

      .napes-border {
        border: 0.03rem solid $global-border;
        border-radius: 0.08rem;
      }

      .list-napes {
        position: relative;
        float: left;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.6rem 0.2rem;
        text-align: center;
        line-height: 1.5rem;

        .napes-img {
          width: 0.6rem;
          height: 0.6rem;
        }

        .napes-dec {
          position: absolute;
          top:0.4rem;
          width:1.5rem;
          height:0.33rem;
          font-size: $font-size-small;
          color: white;
        }
      }
    }

    .is-water-switch {
      position: relative;
      height: 5rem;

      .close {
        position: absolute;
        margin:0.7rem 0 0 0.2rem;
      }

      .chixu {
        position: absolute;
        margin:0.7rem 0 0 2.2rem;
      }

      .paikong {
        position: absolute;
        margin:2.7rem 0 0 0.2rem;
      }

      .des-position {
        width: 1.4rem;
        height: 1.4rem;
        position: absolute;
        padding-top: 0.57rem;
        font-size: 0.24rem;
        text-align: center;
        color: white;
      }

      .circle-choice {
        position: relative;

        .img-size {
          position: absolute;
          width: 1.4rem;
          height: 1.4rem;
        }
      }
    }

  }

}


