<ion-view view-title="nextgen-shower" class="nextgen">
  <ion-header-bar style="background-image: none">
    <button class="button button-icon icon ion-ios-arrow-left" ng-click="goBack()"></button>
    <div class="h1 title" translate="nextgen.title"></div>
    <!--<button class="button button-icon icon ion-more" ng-click="openPopover($event)"></button>-->
  </ion-header-bar>
  <ion-content class="toilet-bg">
    <div class="toilet-conninfo">
      <span class="toilet-conninfo-signal">
        <img class="conninfo-signal-img" src="build/img/nextgen/icon_devicedetail_wifi.png" alt="">
        <span class="conninfo-signal-info" translate="nextgen.deviceWifiInfo"></span>
      </span>
      <span class="toilet-conninfo-isues">
        <img class="conninfo-isues-img" src="build/img/nextgen/icon_devicedetail_warning.png" alt="">
        <span class="conninfo-isues-info" translate="nextgen.deviceUseInfo"></span>
      </span>
    </div>
    <div id="ionSliderBox">
    </div>
    <!--<ion-slide-box on-slide-changed="slideHasChanged($index)">-->
    <!--<ion-slide ng-repeat="list in slideNyData track by $index">-->
    <!--<div id={{list.parNodeid}} class="toilet-parameterctl">-->
    <!--<canvas id={{list.canves01}} class="canves-pos"></canvas>-->
    <!--<canvas id={{list.canves02}} class="canves-pos"></canvas>-->
    <!--<canvas id={{list.canves03}} class="canves-pos"></canvas>-->
    <!--<canvas id={{list.canves04}} class="canves-pos"></canvas>-->
    <!--<div class="toilet-parameterctl-data" ng-if="!list.parameterctlFlag">-->
    <!--<span class="toilet-parameterctl-raddata" ng-bind="list.gearInit"></span>-->
    <!--<span class="toilet-parameterctl-des" ng-bind="list.des"></span>-->
    <!--</div>-->
    <!--<div class="toilet-parameterctl-dataimg" ng-if="list.parameterctlFlag">-->
    <!--<img class="conninfo-parameterctl-img" src="build/img/toilet-controller/btn_devicedetail_scoll.png" alt="">-->
    <!--</div>-->
    <!--</div>-->
    <!--</ion-slide>-->
    <!--</ion-slide-box>-->
    </ion-slide-box>
    <!--<div id="toilet-parameterctl">-->
    <!--<canvas id="mycanvas01"></canvas>-->
    <!--<canvas id="mycanvas02"></canvas>-->
    <!--<canvas id="mycanvas03"></canvas>-->
    <!--<div class="toilet-parameterctl-data" ng-if="!parameterctlFlag">-->
    <!--<span class="toilet-parameterctl-raddata" ng-bind=toiletController.gear></span>-->
    <!--<span class="toilet-parameterctl-des" translate="toiletController.parameterdes"></span>-->
    <!--</div>-->
    <!--<div class="toilet-parameterctl-dataimg" ng-if="parameterctlFlag">-->
    <!--<img class="conninfo-parameterctl-img" src="build/img/toilet-controller/btn_devicedetail_scoll.png" alt="">-->
    <!--</div>-->
    <!--</div>-->
    <div class="toilet-handlenape-selec " ng-click="openModal()">
      <div class="row" style="padding: 0rem">
     <div class="col col-66"><span class="handlenape-selec-des" translate="nextgen.handleSelecDes"></span> </div>
        <div class="col col-20"><span class="handlenape-selec-use" translate={{toiletController.modelType}}></span></div>
        <div class="col"> <img class="handlenape-selec-img" src="build/img/nextgen/icon_scenario_arrow.png"></img></div>
      </div>
    </div>
    <ion-scroll class="toilet-handlenape">
      <div class="toilet-handlenape-list" ng-repeat="list in handlenapeListNape track by $index" ng-click="selectNapes($index)">
        <div class="handlenape-list-napes" ng-class="{true: 'napes-border', false: ''}[list.selecFlag]">
          <img class="list-napes-img" ng-src={{list.imgUrl}} alt="">
          <span class="list-napes-dec" translate={{list.handleDes}}></span>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
