<ion-view view-title="消息" class="message">
  <!-- <ion-header-bar align-title="center" class="bar-stable">
     <div class="buttons">
       <button class="button" ng-click="">左侧按钮</button>
     </div>
     <div class="title">消息</div>
     <div class="buttons">
       <button class="button">右侧按钮</button>
     </div>
   </ion-header-bar>-->

<!--<div class="bar bar-header" style="height: 2rem">-->
  <!--<div class="row"><span>消息</span></div>-->
  <!--<div class="row"><span>消息</span></div>-->


<!--</div>-->
 <div class="cusHeader">
    <div class="row mesHeader">
      <span>消息</span>
    </div>
<div class="row allMess">
   <div ng-click="showStatus()" class="col col-33"><span ng-class="statusword">状态及提醒</span></div>
  <div ng-click="showException()" class="col col-33"><span ng-class="exceptionword">异常及保修</span></div>
  <div class="col col-33"><span>其它</span></div>
</div>
 </div>

  <ion-content class="hasHeader">
    <ion-scroll direction="y" style="white-space: nowrap;width: 100%;text-align: center;" scrollbar-y="true">
<!--status-->
   <ion-list ng-show="hasStaus" show-delete="data.showDelete" >
     <ion-item style="border-style:none;" ng-repeat="statusitem in statusitems" item="statusitem"  class="item item-icon-right item-remove-animate">
 <div class="row oneModel">
  <!-- <img  ng-show="show-delete" style="width: 0.44rem;height: 0.45rem" ng-src="build/img/message/radio_bg.png"/>-->
           <div class="col col-75">
             <div class="row">
               <div class="col col-60" STYLE="padding-left: 0rem"><span class="leftWord1">{{statusitem.statusMessage}}</span></div>
               <div class="col" ><span class="leftWord2">{{statusitem.device}}</span></div>
             </div>
             <div class="row">
               <span class="leftWord3">{{statusitem.messageDel}}</span>
             </div>
             <div class="row addpadding">
               <span class="time">{{statusitem.time}}</span>
             </div>
           </div>
           <div class="col ">
             <i class="icon ion-ios-arrow-right iconSize"></i>
           </div>
      </div>
    <ion-option-button class="manyChoose"
                          ng-click="manyChoose()">
         多选
       </ion-option-button>
       <ion-option-button class="goDelete"
                          ng-click="goDeteleStatusitem(statusitem)">
         删除
       </ion-option-button>
       <ion-delete-button   ng-click="onChoose(statusitem)">

    <img  style="width: 0.44rem;height: 0.45rem" ng-src="build/img/message/radio_bg.png"/>
     <img ng-show="statusitem.showCircle" style="" ng-src="build/img/message/radio_dot.png"/>

      </ion-delete-button>

     </ion-item>
</ion-list>



























    <!--nostatus-->
    <ion-list ng-show="false" >

<div class="noMessage">
  <span class="noMessageWord">暂无设备消息</span> </div>

    </ion-list>
<!--exception-->
    <ion-list ng-show="hasException" >
      <ion-item style="border-style:none;" ng-repeat="exceptionitem in exceptionitems" item="statusitem"  class="item item-icon-right item-remove-animate">
        <div class="row oneModel">
          <div class="col col-75">
            <div class="row">
              <div class="col col-60" STYLE="padding-left: 0rem"><span class="leftWord1">{{exceptionitem.exceptionMessage}}</span></div>
              <div class="col" ><span class="leftWord2">{{exceptionitem.device}}</span></div>
            </div>
           <div class="row addpadding">
              <span class="time">{{exceptionitem.time}}</span>
            </div>
          </div>
          <div class="col ">
            <i class="icon ion-ios-arrow-right iconSize"></i>
          </div>
        </div>

        <ion-option-button class="manyChoose"
                           ng-click="manyChoose(exceptionitem)">
          多选
        </ion-option-button>
        <ion-option-button class="goDetele"
                           ng-click="goDeteleExceptionitem(exceptionitem)">
          删除
        </ion-option-button>
        <ion-delete-button style="" class="ion-minus-circled"
                           ng-click="onItemDelete(exceptionitem)">
        </ion-delete-button>
      </ion-item>

    </ion-list>


    <!--noexception-->
    <ion-list ng-show="false" >

      <div class="noMessage">
        <span class="noMessageWord">您当前的设备无异常</span> </div>
    </ion-list>




</ion-scroll>

  </ion-content>

  <div ng-show="threeBottom" class="row bottomWord">
    <div ng-click="bottomManychoose()" class="col col-33 allChoose"><span >全选</span></div>
    <div ng-click="bottomGocancel()" class="col col-33 cancal"><span >取消</span></div>
    <div ng-click="bottomGodetele()" class="col col-33 delete"><span >删除</span></div>
  </div>




</ion-view>



