<ion-view view-title="{{'message.message' | translate }}" class="message">

  <div class="header">
    <!--header-->
    <div class="title">
      <span translate="message.message"></span>
    </div>
    <!--tabs-->
    <div class="row mess-tabs">
      <div ng-click="listClick(0)" class="col col-35">
        <span translate='message.status' ng-class="{selected:index==0}"></span>
      </div>
      <div ng-click="listClick(1)" class="col col-40">
        <span translate='message.exception' ng-class="{selected:index==1}"></span>
      </div>
      <div ng-click="listClick(2)" class="col col-25">
        <span translate='message.other' ng-class="{selected:index==2}"></span>
      </div>
    </div>
  </div>

  <!--content-->
  <ion-content class="content">
    <ion-scroll zooming="true" direction="y" class="scroll-view ionic-scroll scroll-y">
      <!--message list-->
      <ion-list show-delete="showDelete">
        <ion-item ng-repeat="message in messages" item="message"
                  class="item item-icon-right item-style"
                  ui-sref="messageDetail({messageId:message.id})">
          <!-- item-remove-animate-->
          <div ng-class="{read:message.hasRead}" class="message-item">
            <div class="col-75">
              <div class="row">
                <div class="col-60">
                  <span class="message-title" translate={{message.message}}></span>
                </div>
                <div class="col">
                  <span class="message-device" translate={{message.device}}></span>
                </div>
              </div>
              <p class="message-detail" translate={{message.messageDel}}></p>
              <p class="message-time" translate="{{message.time}}"></p>
            </div>
            <i class="icon ion-ios-arrow-right"></i>
          </div>
          <ion-option-button class="multi-choice"
                             ng-click="manyChoose()" translate="message.manyChoose">
            多选
          </ion-option-button>
          <ion-option-button class="delete-btn"
                             ng-click="goDeteleitem(message)" translate="message.delete">
            删除
          </ion-option-button>
          <ion-delete-button ng-click="onChoose(message)">
            <img class="img-size" ng-src={{message.circleUrl1}}>
          </ion-delete-button>
        </ion-item>
      </ion-list>

      <!--no message-->
      <ion-list ng-if="showEmptyMessage">
        <div class="noMessage">
          <span class="noMessageWord" translate={{empty_message}}></span>
        </div>
      </ion-list>

    </ion-scroll>
  </ion-content>

  <!--three button on the bottom-->
  <div ng-show="threeBottom" class="row bottomWord">
    <div ng-click="bottomManychoose()" class="col col-33 allChoose">
      <span translate="message.all"></span>
    </div>
    <div ng-click="bottomGocancel()" class="col col-33 cancal">
      <span translate="message.cancel"></span>
    </div>
    <div ng-click="bottomGodetele()" class="col delete">
      <span translate="message.delete"></span>
    </div>
  </div>


</ion-view>



