<ion-view view-title="消息" class="message">
  <!-- <ion-header-bar align-title="center" class="bar-stable">
     <div class="buttons">
       <button class="button" ng-click="">左侧按钮</button>
     </div>
     <div class="title">消息</div>
     <div class="buttons">
       <button class="button">右侧按钮</button>
     </div>
   </ion-header-bar>-->

<!--<div class="bar bar-header" style="height: 2rem">-->
  <!--<div class="row"><span>消息</span></div>-->
  <!--<div class="row"><span>消息</span></div>-->


<!--</div>-->
 <div class="cusHeader">
    <div class="row mesHeader">
      <span>消息</span>
    </div>
<div class="row allMess">
   <div ng-click="showStatus()" class="col col-33"><span class="status">状态及提醒</span></div>
  <div ng-click="showException()" class="col col-33"><span>异常及保修</span></div>
  <div class="col col-33"><span>其它</span></div>
</div>
 </div>

  <ion-content class="hasHeader">

<!--status-->
   <ion-list ng-show="hasStaus" >
<!--
<ion-item ng-repeat="item in items" item="item" href="#/item/{{item.id}}" class="item-remove-animate">
<li class="item item-icon-right" style="border-style:none" >
    <div class="row oneModel">
<div class="col col-75">
  <div class="row">
 <div class="col col-60" STYLE="padding-left: 0rem"><span class="leftWord1">{{item.statusMessage}}</span></div>
    <div class="col" ><span class="leftWord2">{{item.device}}</span></div>
  </div>
  <div class="row">
   <span class="leftWord3">{{item.messageDel}}</span>
  </div>
  <div class="row addpadding">
    <span class="time">{{item.time}}</span>
  </div>
</div>
<div class="col ">
  <i class="icon ion-ios-arrow-right iconSize"></i>
</div>
    </div>
</li>
  <ion-option-button class="button-assertive"
                     ng-click="edit(item)">
    Edit
  </ion-option-button>
  <ion-option-button class="button-calm"
                     ng-click="share(item)">
    Share
  </ion-option-button>
   </ion-item>
-->

     <ion-item style="border-style:none;" ng-repeat="item in items" item="item" href="#/item/{{item.id}}" class="item item-icon-right item-remove-animate">
 <div class="row oneModel">
           <div class="col col-75">
             <div class="row">
               <div class="col col-60" STYLE="padding-left: 0rem"><span class="leftWord1">{{item.statusMessage}}</span></div>
               <div class="col" ><span class="leftWord2">{{item.device}}</span></div>
             </div>
             <div class="row">
               <span class="leftWord3">{{item.messageDel}}</span>
             </div>
             <div class="row addpadding">
               <span class="time">{{item.time}}</span>
             </div>
           </div>
           <div class="col ">
             <i class="icon ion-ios-arrow-right iconSize"></i>
           </div>
         </div>

       <ion-option-button class="manyChoose"
                          ng-click="manyChoose(item)">
         多选
       </ion-option-button>
       <ion-option-button class="goDetele"
                          ng-click="goDetele(item)">
         删除
       </ion-option-button>
       <ion-delete-button style="" class="ion-minus-circled"
                          ng-click="onItemDelete(item)">
         sdsadasdsad
       </ion-delete-button>
     </ion-item>
</ion-list>

    <!--nostatus-->
    <ion-list ng-show="false" >

<div class="noMessage">
  <span class="noMessageWord">暂无设备消息</span> </div>

    </ion-list>
<!--exception-->
    <ion-list ng-show="hasException" >
      <li class="item item-icon-right" style="border-style:none" >
        <div class="row oneModel">
          <div class="col col-75">
            <div class="row">
              <div class="col col-60" STYLE="padding-left: 0rem"><span class="leftWord1">自动开盖功能异常</span></div>
              <div class="col" ><span class="leftWord2">马桶</span></div>
            </div>
            <div class="row addpadding">
              <span class="time">2017-02-08 17:25</span>
            </div>
          </div>
          <div class="col ">
            <i class="icon ion-ios-arrow-right iconSize"></i>
          </div>
        </div>
      </li>

      <li class="item item-icon-right" style="border-style:none" >
        <div class="row oneModel">
          <div class="col col-75">
            <div class="row">
              <div class="col col-60" STYLE="padding-left: 0rem"><span class="leftWord1">自动开盖功能异常</span></div>
              <div class="col" ><span class="leftWord2">淋浴</span></div>
            </div>

            <div class="row addpadding">
              <span class="time">2017-02-08 17:25</span>
            </div>
          </div>
          <div class="col ">
            <i class="icon ion-ios-arrow-right iconSize"></i>
          </div>
        </div>
      </li>

      <li class="item item-icon-right" style="border-style:none" >
        <div class="row oneModel">
          <div class="col col-75">
            <div class="row">
              <div class="col col-60" STYLE="padding-left: 0rem"><span class="leftWord1">自动开盖功能异常</span></div>
              <div class="col" ><span class="leftWord2">马桶</span></div>
            </div>
       <div class="row addpadding">
              <span class="time">2017-02-08 17:25</span>
            </div>
          </div>
          <div class="col" >
            <i class="icon ion-ios-arrow-right iconSize"></i>
          </div>
        </div>
      </li>

    </ion-list>


    <!--noexception-->
    <ion-list ng-show="false" >

      <div class="noMessage">
        <span class="noMessageWord">您当前的设备无异常</span> </div>
    </ion-list>
  </ion-content>
</ion-view>
