<ion-modal-view class="hmsiot-manySelect" style="width: 100%;left: 0;right: 0">
  <ion-content>
    <div class="hmsiot-select-head">
      <span class="select-head-spancanl" ng-click="setSingalModal.hide()">取消</span>
      <span class="select-head-spanok" ng-click="setSingalChoose()">确定</span>
    </div>
    <div class="hmsiot-select-content">
      <div class="hmsiot-select-contentinner hmsiot-select-contentleft">
        <ion-scroll class="hmsiot-slider-left" scrollbar-y="false" scrollbar-x="false">
          <div class="slider-list" ng-repeat="i in listleftRepeat track by $index" ng-click="silderRepeatSeleced($index)">
            <span>
              <img class="slider-span-img" ng-if="i.reflag" src="build/img/toilet-controller/btn_radio_seleted.png" alt="">
              <img class="slider-span-img" ng-if="!i.reflag" src="build/img/toilet-controller/btn_radio_nor.png" alt="">
            </span>
            <span class="slider-span" ng-class="{true: 'sliderselected', false: ''}[i.flag]" translate={{i.name}}></span>
          </div>
        </ion-scroll>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
