<ion-modal-view class="hmsiot-setSelect">
  <ion-content>
    <div class="hmsiot-select-head">
      <span class="select-head-spancanl" ng-click="setmodal.hide()">取消</span>
      <span class="select-head-spanok" ng-click="setchoose()">确定</span>
    </div>
    <div class="hmsiot-select-content">
      <div class="hmsiot-select-contentinner hmsiot-select-contentleft">
        <ion-scroll class="hmsiot-slider-left">
          <div class="slider-list" ng-repeat="i in listleft track by $index" ng-click="silderSeleced($index)">
            <span class="slider-span" ng-class="{true: 'sliderselected', false: ''}[i.flag]">{{i.name}}</span>
          </div>
        </ion-scroll>
      </div>
      <div class="hmsiot-select-contentinner hmsiot-select-contentrig">
        <ion-scroll class="hmsiot-slider-left">
          <div class="slider-list" ng-repeat="i in listright track by $index" ng-click="silderRightSeleced($index)">
            <span class="slider-span" ng-class="{true: 'sliderselected', false: ''}[i.flag]">{{i.name}}</span>
          </div>
        </ion-scroll>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
