.hmsModal {
  //.headerCase{
  //  height: 44px;
  //  border-bottom: 1px solid rgb(56,126,245);
  //  border-top: 1px solid #387ef5;
  //  text-align: center;
  //  .headertitle{
  //    margin-top: 12px;
  //  }
  //  .createNewRecord{
  //    position: absolute;
  //    display: inline-block;
  //    right: 20px;
  //    top: 3px;
  //    width: 30px;
  //    height: 40px;
  //    line-height: 40px;
  //    font-size: 22px;
  //  }
  //}
  .contentCase {
    background-color:#4F5C79;
    //margin-top: 44px;
    z-index:-1;
  }
  .listItem{
    margin: 0;
    background-color:#4F5C79;
    color:$color-base;
    border-width: 0px;
    border-bottom: 1px solid black;
    text-align: center;
  }
}
