<ion-view class="cenwatpurSetting">
  <div class="bar bar-header header" style="background-image: none">
    <button class="button button-icon icon ion-ios-arrow-left header_buttonRig" ng-click="goBack()"></button>
    <div class="h1 title header_title" translate="cenwatpurSetting.title"></div>
  </div>
  <ion-content class="toilet-bg" overflow-scroll="true">
    <!--<div class="modestyle">-->
        <!--&lt;!&ndash;<div class="row" ng-click="openModal()">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="col col-30 col-center font-sizekey">&ndash;&gt;-->
                <!--&lt;!&ndash;<span translate="cenwatpurSetting.clearmode"></span>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="col col-70 col-center textright auto-fangai-col70">&ndash;&gt;-->
            <!--&lt;!&ndash;<span class="fangai-col70-reaction font-sizevalue" translate={{cenwatpurSettingData.clearMode}}></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<img src="build/img/cenwatpurifier-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--<div class="row" ng-click="setopenModal()">-->
        <!--<div class="col col-70 col-center font-sizekey">-->
          <!--<span translate="cenwatpurSetting.clearmodeAutoTime"></span>-->
        <!--</div>-->
        <!--<div class="col col-30 col-center textright auto-fangai-col70">-->
          <!--<span class="fangai-col70-reaction font-sizevalue" ng-bind="cenwatpurSettingData.timeData"></span>-->
          <!--<img src="build/img/cenwatpurifier-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="modestyle modelast">
      <div class="row">
        <div class="col col-80 col-center font-sizekey">
          <span translate="cenwatpurifier.errortotal"></span>
        </div>
        <div class="col col-20 col-center textright auto-fangai-col70">
          <img src="build/img/cenwatpurifier-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">
        </div>
      </div>
      <div class="row"  ng-click="isCheckDeviceInfoSet()">
        <div class="col col-30 col-center font-sizekey">
          <span translate="cenwatpurifier.recoverset"></span>
        </div>
        <div class="col col-70 col-center textright auto-fangai-col70">
          <img src="build/img/cenwatpurifier-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col col-30 col-center font-sizekey">
          <span translate="cenwatpurifier.checkdeviceInfo"></span>
        </div>
        <div class="col col-70 col-center textright auto-fangai-col70">
          <img src="build/img/cenwatpurifier-controller/icon_scenario_arrow.png" class="auto-fangai-img" alt="">
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
