.myInfo {

  font-family: PingFangSC-Regular;

  .cusHeader {
    height: 3.89rem;
    position: relative;
    padding-top: 0.85rem;
    background-image: linear-gradient(-180deg, #42444A 1%, #191C23 86%);
    background: no-repeat url("../img/my-info/img_home_topbackground.png");
    background-size: cover;

    .myHome {
      font-size: 0.6rem;
      color: $color-text-key;
      line-height: 0.6rem;
      float: right;
      letter-spacing: 0.045rem;
    }

    .family-img {
      width: 0.6rem;
      height: 0.6rem;
      margin-left: 0.1rem;
    }

    .signature {
      width:100%;
      padding-top: 0.2rem;
      font-size: $font-size-small;
      color: $color-text-value;
      line-height: 0.28rem;
      text-align: center;
      letter-spacing: 0.01rem;
    }

    .signature-value {
      width:90%;
      margin:0 auto;
      padding-top: 0.1rem;
      font-family: PingFangSC-Medium;
      font-size: $font-size;
      line-height: $font-size;
      color: $color-text-key;
      text-align: center;
      display:block;
      overflow:hidden;
      word-break:keep-all;
      white-space:nowrap;
      text-overflow:ellipsis;
    }

  }

  .content {
    position: absolute;
    top: 3.89rem;
    overflow-y:scroll;
    background: #212121;

    .onerow {
      background: #0D0F11;
      border-top:none;
      border-bottom: 0.03rem solid #979797;
      padding:0.2rem 0.4rem;

      .key {
        font-family: PingFangSC-Medium;
        font-size: $font-size;
        color: $color-text-key;
        line-height: $font-size;
      }

      .value {
        float: right;
        font-size: $font-size-small;
        color: $color-text-value;
        line-height: 0.28rem;
        padding-right:0.24rem;
      }
    }

    .cusdivide {
      height: 0.3rem;
    }

  }

}
