 <ion-view view-title="设置" class="settingTemperature" style="background-image: none">

    <div class="bar bar-header headColor " style="background-image: none">
      <button class="button button-icon icon ion-ios-arrow-left iconColor" ng-click="goBack()" ></button>
      <div class="h1 title"><span  class="iconColor" translate="my-info.setting-temperature.unitSetting"></span></div>
      <button class="button button-icon icon iconColor" ></button>
    </div>






<!--
   <ion-content class="cuscontent">
    <ion-list>
      <li class="item item-icon-right item-divider cutline" >
        <span  translate="my-info.setting-temperature.temperatureUnit">温度单位</span>  </li>

      <li class="item item-icon-right item-divider cutline" ng-click="chooseTemperature($event)">
        <span  translate="my-info.setting-temperature.centigrade">摄氏度°C</span>  </li>

      <li class="item item-icon-right item-divider" ng-click="chooseTemperature($event)">
        <span  translate="my-info.setting-temperature.fahrenheit">华氏度°F</span>
      </li>


      <li class="item item-icon-right item-divider cutline" >
        <span  translate="my-info.setting-temperature.useWaterUnit">用水量单位</span>  </li>

      <li class="item item-icon-right item-divider cutline" >
        <span  translate="my-info.setting-temperature.litre">升</span>  </li>

      <li class="item item-icon-right item-divider" >
        <span  translate="my-info.setting-temperature.ton">吨</span>
      </li>

      <li class="item item-icon-right item-divider cutline" >
        <span  translate="my-info.setting-temperature.useElectricityUnit">用电量单位</span>  </li>

      <li class="item item-icon-right item-divider cutline" >
        <span >KwH</span>  </li>

      <li class="item item-icon-right item-divider" >
        <span  >Kwmin</span>
      </li>

    </ion-list>


  </ion-content>-->


</ion-view>
