.setting{
  .headColor {
    background-color: $global-head-bg;
  }
  .iconColor {
    color: $color-base
  }

  .content{

    color:rgba(255,255,255,1);
    background: rgba(15,17,18,1);
  }
  .iconSize{
    font-size: 0.5rem;
    right: 0.3rem;
  }
  .onerow{
    background:  #0D0F11;
    padding:0.14rem 0rem 0.14rem 0.4rem;
    border-bottom: 0.05rem solid #2D3234;
  }
  .item{
    border-top:none;
    border-color: #2D3234;
  }

  .leftWord{
    font-family: PingFangSC-Medium;
    font-size: 0.32rem;
    color: #FFFFFF;
    line-height: 0.32rem;

  }
  .rightword{


    font-size: 0.24rem;
    color: #565A64;

    line-height: 0.28rem;
  }
  .cusdivide{
    background-color:#212121;
    padding:0rem;
    height:0.34rem;
    border-bottom: 0.05rem solid #2D3234;

  }

















}
