<ion-view view-title="{{'my-info.setting.title' | translate}}" class="setting">
  <!--header-->
  <ion-header-bar class="header">
    <button class="button button-icon icon ion-ios-arrow-left header_button" ng-click="goBack()"></button>
    <div class="h1 title header_title" translate="my-info.setting.title"></div>
  </ion-header-bar>
  <!--content-->
  <ion-content class="content">
    <ion-list>
      <!--language-->
      <li class="item item-icon-right onerow" ui-sref="language">
        <div class="row">
          <div class="col-50">
            <span translate="my-info.setting.language" class="key"></span>
          </div>
          <div class="col">
            <span class="value">{{language}}</span>
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </li>

      <!--unit-->
      <li class="item item-icon-right onerow" ui-sref="unit">
        <div class="row">
          <div class="col-50">
            <span class="key" translate="my-info.setting.unitSetting"></span>
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </li>

      <div class="cusdivide"></div>

      <!--hardware-->
      <li class="item item-icon-right onerow">
        <div class="row">
          <i class=" redpoint1"></i>
          <div class="col-50">
            <span class="key" translate="my-info.setting.firmwareUpdate"></span>
          </div>
          <div class="col">
            <span class="value" translate="my-info.setting.byToupdate"></span>
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <!--version-->
      <li class="item item-icon-right onerow">
        <div class="row">
          <i class=" redpoint1"></i>
          <div class="col-50">
            <span class="key" translate="my-info.setting.versionUpdate"></span>
          </div>
          <div class="col">
            <span class="value" translate="my-info.setting.versionNumber"></span>
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </li>

      <!--about-->
      <li class="item item-icon-right onerow" ui-sref="about">
        <div class="row">
          <div class="col-50">
            <span class="key" translate="my-info.setting.about"></span></div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </li>
    </ion-list>
  </ion-content>
  <!--footer-->
  <ion-footer-bar class="footer" ng-click="logout()">
    <div class="title" translate="my-info.setting.logout"></div>
  </ion-footer-bar>
</ion-view>

