<ion-view view-title="{{'my-info.personal-setting.title' | translate}}" class="personalSetting">
  <!--header-->
  <ion-header-bar class="header">
    <button class="button button-icon icon ion-ios-arrow-left header_button" ng-click="goBack()"></button>
    <div class="h1 title header_title" translate="my-info.personal-setting.title"></div>
  </ion-header-bar>
  <!--content-->
  <ion-content class="content">
    <ion-list>
      <!--head_img-->
      <li class="item onerow">
        <div class="row camera">
          <div class="col-50">
            <span class="key camera-key">{{'my-info.personal-setting.head_img' | translate}}</span>
          </div>
          <div class="col">
            <img ng-src="build/img/my-info/icon_avatar.png" alt="camera icon"
                 class="camera-size" ng-click="getPhoto()"/>
          </div>
        </div>
      </li>
      <!--nickname-->
      <li class="item item-icon-right onerow">
        <div class="row">
          <div class="col-50">
            <span class="key">{{'my-info.personal-setting.nickname' | translate}}</span>
          </div>
          <div class="col">
            <span class="value">{{userData.nickname}}</span>
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <!--sex-->
      <li class="item onerow">
        <div class="row sex">
          <div class="col-50 sex-key">
            <span class="key">{{'my-info.personal-setting.sex' | translate}}</span>
          </div>
          <div class="col">
            <img class="sex-icon" ng-src={{userData.female_img}}
                 alt="female icon" ng-click="setSex(1)"/>
            <img class="sex-icon" ng-src={{userData.male_img}}
                 alt="male icon" ng-click="setSex(0)"/>
          </div>
        </div>
      </li>
      <!--telphone-->
      <li class="item item-icon-right onerow" ui-sref="binding({type:0})">
        <div class="row">
          <div class="col-50">
            <span class="key">{{'my-info.personal-setting.telephone' | translate}}</span>
          </div>
          <div class="col">
            <span ng-hide="userData.telephone" class="value unbinding">{{'my-info.personal-setting.unbinding' | translate}}</span>
            <span ng-show="userData.telephone" class="value">{{userData.telephone}}</span>
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <!--email-->
      <li class="item item-icon-right onerow" ui-sref="binding({type:1})">
        <div class="row">
          <div class="col-50">
            <span class="key">{{'my-info.personal-setting.email' | translate}}</span>
          </div>
          <div class="col">
            <span ng-hide="userData.email" class="value unbinding">{{'my-info.personal-setting.unbinding' | translate}}</span>
            <span ng-show="userData.email" class="value">{{userData.email}}</span>
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <!--state-->
      <li class="item item-icon-right onerow">
        <div class="row">
          <div class="col-50">
            <span class="key">{{'my-info.personal-setting.state' | translate}}</span>
          </div>
          <div class="col">
            <span class="value">{{userData.state}}</span>
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </li>
      <!--change password-->
      <li class="item item-icon-right onerow" ui-sref="changePwd({type:0})">
        <div class="row">
          <div class="col-50">
            <span class="key">{{'my-info.personal-setting.changePwd' | translate}}</span>
          </div>
        </div>
        <i class="icon ion-ios-arrow-right"></i>
      </li>
    </ion-list>
  </ion-content>
</ion-view>
