<ion-view view-title="test" class="test">
  <div class="bar bar-header header" style="background-image: none">
    <button class="button button-icon icon ion-ios-arrow-left header_buttonRig" ng-click="goBack()"></button>
    <div class="h1 title header_title">heh</div>
    <button class="button button-icon icon ion-more header_buttonRig" ng-click="openPopover($event)"></button>
  </div>
  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <button class="button button-clear">
      取消
    </button>
  </div>

  <ion-content style="margin-top: 88px;" overflow-scroll="true" on-scroll="false">
    <div ng-click="goSetting()">设置</div>
    <div ng-click="openModal()">设置</div>
    <span-click></span-click>


      <!--<infinity-scroll type='number' title-text='date' min='1' max='31'></infinity-scroll>-->






  </ion-content>
</ion-view>
<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-header-bar>
      <h1 class="title">我的浮动框标题</h1>
    </ion-header-bar>
    <ion-content>

    </ion-content>
  </ion-popover-view>
</script>

<script id="my-modal.html" type="text/ng-template">
  <div class="modal hmsModal">
    <ion-header-bar class="bar bar-border-bottom">
      <button class="button button-icon icon  header_buttonRig" ng-click="goBack()">取消</button>
      <div class="h1 title header_title">heh</div>
      <button class="button button-icon icon  header_buttonRig" ng-click="openPopover($event)">确定</button>
    </ion-header-bar>
    <ion-content overflow-scroll="true" on-scroll="false">
      <div class="row noPadding">
        <div class="col noPadding">
          <div class="scroll-container" on-drag="onDragScroll($event)" on-release="onReleaseScroll($event)">
            <div class="stage" ng-style="stageRotate">
              <div class="scroll-item" ng-repeat="week in weeks track by $index" ng-style="rotates[$index]" ng-class="{true:'selected'}[nowIndex == $index]">{{getShowString(week)}}
              </div>
            </div>
          </div>
        </div>
        <div class="col noPadding">
          <!--<div class="scroll-container" on-drag="onDragScroll($event)" on-release="onReleaseScroll($event)">-->
            <!--<div class="stage" ng-style="stageRotate">-->
              <!--<div class="scroll-item" ng-repeat="week in weeks track by $index" ng-style="rotates[$index]" ng-class="{true:'selected'}[nowIndex == $index]">{{getShowString(week)}}-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      </div>

    </ion-content>
  </div>
</script>

<script>
  var app=angular.module('myApp',["templateCache","serviceModule","directiveModule"])
    .controller("animateController",['$scope','createEffect', function ($scope,createEffect) {

    }])
  var service=angular.module("serviceModule",[])
    .factory("createEffect",["$animate","$compile","$rootScope", function ($animate,$compile,$rootScope) {
      var x;
      var y;
      var span=angular.element("<span class='animateSpan'></span>");
      var scopeNew=$rootScope.$new(true);
      var spanEffect=$compile(span)(scopeNew);
      return{
        addEffect: function (obj) {
          obj.on("click", function (e) {
            var e=e||event;
            obj.empty();
            $animate.enter(spanEffect,obj);
            x= e.pageX-this.offsetLeft-parseInt($(obj).find("span").css("width"))/2;
            y= e.pageY-this.offsetTop-parseInt($(obj).find("span").css("width"))/2;
            $(obj).find("span").css("left",x);
            $(obj).find("span").css("top",y);
            obj.find("span").addClass("animate");
          })
        }
      }

    }])
  var directive=angular.module("directiveModule",["serviceModule"])
    .directive("spanClick",["$animate","$compile","createEffect", function ($animate,$compile,createEffect) {
      return{
        restrict:'EA',
        replace:true,
        templateUrl:'spanClick.html',
        link: function (scope, ele, attr) {
            var x;
           var y;
           var span=angular.element("<span class='animateSpan'></span>");
           //span.attr("class","animateSpan");
           var scopeNew=scope.$new(true);
           var spanEffect=$compile(span)(scopeNew);
           ele.bind("click", function (e) {
           ele.empty();
           $animate.enter(spanEffect,ele);
           x= e.pageX-this.offsetLeft-parseInt($(ele).find("span").css("width"))/2;
           y= e.pageY-this.offsetTop-parseInt($(ele).find("span").css("width"))/2;
           $(ele).find("span").css("left",x);
           $(ele).find("span").css("top",y);
           ele.find("span").addClass("animate");
           })
//          createEffect.addEffect(ele)
        }
      }
    }])
  var templateCache=angular.module('templateCache',[])
    .run(function ($templateCache) {
      $templateCache.put("spanClick.html","<div  class='spanStyle'></div>")
    })
</script>
