<ion-view view-title="设置" class="settingLanguage">
  <ion-header-bar align-title="center" class="cusheader" >
    <div class="item-icon-left set">
      <div class="title">语&nbsp;言</div>
      <i class="icon ion-ios-arrow-back" ui-sref="setting"></i>
    </div>
  </ion-header-bar>
  <ion-content class="cuscontent">
    <ion-list>

      <li class="item item-icon-right item-divider cutline"  ng-click="chooseLanguage($event)">
      中文简体  </li>

      <li class="item item-icon-right item-divider" ng-click="chooseLanguage($event)">
        中文繁體
      </li>
      <li class="item item-icon-right item-divider" ng-click="chooseLanguage($event)">
        English
      </li>
    </ion-list>


  </ion-content>


</ion-view>
