<ion-view view-title="设置" class="karess-setting">
  <div class="bar bar-header header" style="background-image: none">
    <button class="button button-icon icon ion-ios-arrow-left header_buttonRig" ng-click="goBack()"></button>
    <div class="h1 title header_title" translate="karessController.setting"></div>
  </div>
  <ion-content class="ionContent">
    <div class="row rowStyle noPadding" style="background-color: #0D0F11" ng-click="resetDeviceInfo()">
      <div class="col col-25 colName text-left noPadding" translate="karessController.settingName1"></div>
      <div class="col col-75 colContent text-right noPadding"><i class="ion-chevron-right"></i></div>
    </div>
    <div class="line"></div>
    <div class="row rowStyle noPadding"  ng-click="resetDeviceInfo()">
      <div class="col col-25 colName text-left noPadding" translate="karessController.settingName2"></div>
      <div class="col col-75 colContent text-right noPadding"><i class="ion-chevron-right"></i></div>
    </div>
    <div class="line"></div>
    <div class="row rowStyle noPadding"  ng-click="goInfo()">
      <div class="col col-25 colName text-left noPadding" translate="karessController.settingName3"></div>
      <div class="col col-75 colContent text-right noPadding"><i class="ion-chevron-right"></i></div>
    </div>
  </ion-content>
</ion-view>
