<ion-view view-title="设置" class="bathroom-info"  style="background: #1A1E28;">
  <ion-header-bar align-title="center" class="cusheader" style="background: #1A1E28;box-shadow: 0 0.02rem 0.11rem 0 rgba(0,0,0,0.43);">
    <div class="item-icon-left set">
      <div class="title">
        <span translate="bathroom.deviceInfo" style="color: #FFFFFF;font-family: PingFangSC-Regular;"></span>
      </div>
      <i class="icon ion-ios-arrow-back" style="color: #FFFFFF;" ui-sref="bathroomSet"></i>
    </div>
  </ion-header-bar>
  <ion-content class="cuscontent">
    <div>
      <div class="item item-icon-right item-divider-self" style="border-color: #0D0F11;position:relative;height: 1.1rem;padding-top:0.3rem;background: #0D0F11;border-bottom: 1px solid white;">
        <span translate="bathroom.productName" style="position:absolute;font-size: 0.32rem;color: #FFFFFF;font-family: PingFangSC-Medium;"></span>
        <span style="position:absolute;font-size: 0.24rem;text-align:right;left: 3.4rem;color:#565A64;">{{deciveInfo.deviceName}}</span>
      </div>
      <div class="item item-icon-right item-divider-self"  ui-sref="bathroomInfo"  style="border-color: #0D0F11;position:relative;height: 1.1rem;padding-top:0.3rem;background: #0D0F11;border-bottom: 1px solid white;">
        <span translate="bathroom.version" style="font-size: 0.32rem;color: #FFFFFF;font-family: PingFangSC-Medium;"></span>
        <span style="position:absolute;font-size: 0.24rem;text-align:right;left: 3.4rem;color:#565A64;">{{deciveInfo.version}}</span>
      </div>
      <div class="item item-icon-right item-divider-self"  ui-sref="bathroomInfo"  style="border-color: #0D0F11;position:relative;height: 1.0rem;padding-top:0.3rem;background: #0D0F11;border-bottom: 1px solid white;">
        <span translate="bathroom.sku" style="font-size: 0.32rem;color: #FFFFFF;font-family: PingFangSC-Medium;"></span>
        <span style="position:absolute;font-size: 0.24rem;text-align:right;left: 3.4rem;color:#565A64;">{{deciveInfo.sku}}</span>
      </div>
      <div class="item item-icon-right item-divider-self"  ui-sref="bathroomInfo"  style="border-color: #0D0F11;position:relative;height: 1.1rem;padding-top:0.3rem;background: #0D0F11;border-bottom: 1px solid white;">
        <span translate="bathroom.sn" style="font-size: 0.32rem;color: #FFFFFF;font-family: PingFangSC-Medium;"></span>
        <span style="position:absolute;font-size: 0.24rem;text-align:right;left: 3.4rem;color:#565A64;">{{deciveInfo.sn}}</span>
      </div>
      <div class="list">
        <label class="item item-input" style="border-color: #0D0F11;height: 1.1rem;background: #0D0F11;">
          <span translate="bathroom.place" style="font-size: 0.32rem;color: #FFFFFF;font-family: PingFangSC-Medium;"></span>
          <input type="text" style="height:1rem;margin-left:1.8rem;font-size: 0.24rem;text-align:left;color:#565A64;" ng-value="deciveInfo.place" ng-model="deciveInfo.place">
        </label>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-balanced"  style="background-color: gray" ng-click="save(deciveInfo)">
    <div class="title"><span translate="bathroom.save"></span></div>
  </div>
</ion-view>
