<ion-view class="lightSetting">
  <div class="bar bar-header header" style="background-image: none">
    <button class="button button-icon icon ion-ios-arrow-left header_buttonRig" ng-click="goBack()"></button>
    <div class="h1 title header_title" translate="lightSetting.title"></div>
  </div>
  <ion-content class="toilet-bg" overflow-scroll="true">
    <div class="modestyle">
      <div class="row">
        <div class="col col-30 col-center font-sizekey">
          <span translate="lightSetting.lightmode"></span>
        </div>
        <div class="col col-70 col-center textright auto-fangai-col70">
          <label class="toggle toggle-dark">
            <input type="checkbox" ng-checked="lightnightmode" ng-click="lightchangeSet()">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </div>
      </div>
      <!--<div class="row">-->
        <!--<div class="col col-50 col-center font-sizekey">-->
          <!--<span translate="lightSetting.toiletlamp"></span>-->
        <!--</div>-->
        <!--<div class="col col-50 col-center textright auto-fangai-col70">-->
          <!--<label class="toggle toggle-dark">-->
            <!--<input type="checkbox" ng-checked="lighttoiletlampmode">-->
            <!--<div class="track">-->
              <!--<div class="handle"></div>-->
            <!--</div>-->
          <!--</label>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="envirentlight-set" translate="lightSetting.envirentlightset"></div>
    <div class="modestyle">
      <div class="row">
        <div class="col col-50 col-center font-sizekey">
          <span translate="lightSetting.initcolor"></span>
        </div>
        <div class="col col-50 col-center textright auto-fangai-col70" style="position: relative" ng-click="checkboxChange('color')">
          <span class="lightmode-checkbox"></span>
          <img ng-if="lightSetting.isShowCheckimg" class="lightmode-checkbox-img" src="build/img/toilet-controller/icon_check.png" alt="">
        </div>
      </div>
      <div class="row lightmode-initcolor textcenter initcolor-circleInit">
        <div class="col col-100 col-center">
          <span class="initcolor-circle"></span>
        </div>
      </div>
    </div>
    <div class="envirentlight-line"></div>
    <div class="modestyle">
      <div class="row">
        <div class="col col-50 col-center font-sizekey">
          <span translate="lightSetting.initweek"></span>
        </div>
        <div class="col col-50 col-center textright auto-fangai-col70" style="position: relative" ng-click="checkboxChange('week')">
          <span class="lightmode-checkbox"></span>
          <img ng-if="lightSetting.isShowWeekset" class="lightmode-checkbox-img" src="build/img/toilet-controller/icon_check.png" alt="">
        </div>
      </div>
      <div class="lightmode-wwek lightmode-initcolor">
          <span class="initcolor-circle initcolor-circlewwek textcenter" ng-repeat="list in colorWeek track by $index" ng-style="list.color" translate={{list.des}} ng-click="openModal($index)"></span>
      </div>
    </div>
    <div class="envirentlight-line"></div>
    <div class="modestyle">
      <div class="row">
        <div class="col col-50 col-center font-sizekey">
          <span translate="lightSetting.statsuschange"></span>
        </div>
        <div class="col col-50 col-center textright auto-fangai-col70" style="position: relative" ng-click="checkboxChange('change')">
          <span class="lightmode-checkbox"></span>
          <img ng-if="lightSetting.isShowStatuset" class="lightmode-checkbox-img" src="build/img/toilet-controller/icon_check.png" alt="">
        </div>
      </div>
    </div>
    <div class="envirentlight-set" style="font-size: 0.24rem" translate="lightSetting.statsusinfo"></div>
  </ion-content>
</ion-view>
