.bigAunt{
  .noPadding{
    padding: 0;
  }
  .selectNum{
    width: 100%;
    margin-top: 20px;
    height: 35px;
    border: 1px solid lightgray;
    //border: solid 0px white;
    //appearance:none;
    //-moz-appearance:none;
    //-webkit-appearance:none;
    //width: 100%;
    //background: url("build/img/aunt/sanjiao.png") no-repeat scroll right center transparent;
    //position:relative;left:0px;top:-2px;font-size:15px;line-height:24px;border:0px;color:#909993;
    //padding-right: 14px;
  }
  .itemBorder{
    border: none;
    margin: 0;
  }
  .lineStyle{
    height: 1px;
    background-color: lightgray;
  }
}

