<ion-view view-title="中央净水器" class="cenwatpurifierCtrl">
  <div class="bar bar-header header" style="background-image: none">
    <button class="button button-icon icon ion-ios-arrow-left header_buttonRig" ng-click="goBack()"></button>
    <div class="h1 title header_title" translate="cenwatpurifier.title"></div>
  </div>
  <ion-content class="toilet-bg" overflow-scroll="true" style="overflow: hidden">
    <div class="toilet-conninfo">
      <span class="toilet-conninfo-signal">
        <img class="conninfo-signal-img" src="build/img/toilet-controller/icon_devicedetail_wifi.png" alt="">
        <span class="conninfo-signal-info" translate="toiletController.deviceWifiInfo"></span>
      </span>
      <img class="conninfo-isues-img" src="build/img/cenwatpurifier-controller/icon_jingshui.png" alt="">
    </div>
    <div id="cewafiionSliderBox" style="background-color:#171A1C">
    </div>
    <div class="toilet-handlenape-selec">
    </div>
    <ion-scroll class="toilet-handlenape" overflow-scroll="false">
      <div class="toilet-handlenape-list" ng-repeat="list in handlenapeListNape track by $index" ng-click="selectNapes($index)">
        <div class="handlenape-list-napes" ng-class="{true: 'napes-border', false: ''}[list.selecFlag]">
          <span style="display: inline-block;padding-top:0.2rem"><img class="list-napes-img" ng-src={{list.imgUrl}} alt="" /></span>
          <p class="list-napes-dec" translate={{list.handleDes}}></p>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
