<ion-view view-title="设备控制-浴霸" class="bathroom-controller">
  <div class="bar bar-header header" style="background-image: none;">
    <button class="button button-icon icon ion-ios-arrow-left header_buttonRig" ng-click="goBack();"></button>
    <div class="h1 title header_title">
      <span translate="bathroom.bathroom"></span>
    </div>
    <img class="right-image" src="build/img/icon_dot@3x.png" ng-click="openPopover($event)"/>
    <div ng-click="openTimer()">
      <img ng-src="build/img/bathroom/btn_devicedetail_bathroomheater_time.png" class="time-img"/>
    </div>
    <!--<button class="button button-icon icon ion-more header_buttonRig" ng-click="openPopover($event)"></button>-->
  </div>

  <ion-content overflow-scroll="true" style="background-color: #0F0F0F;overflow: hidden;">
    <div class="device-info">
      <div class="device-info-status">
        <img ng-src="build/img/bathroom/icon_devicedetail_wifi.png" class="box-img" ng-if="isBox" />
        <span class="box-text" translate="{{signalStatus}}"  ng-if="isBox"></span>
        <!--<img ng-src="build/img/bathroom/icon_devicedetail_warning.png" class="signal-img"/>-->
        <!--<span class="signal-text" translate="bathroom.using"></span>-->
        <span class="timeout-font" translate="bathroom.timeout" ng-if="isShowTime"></span>
        <span class="timeout" ng-if="isShowTime" style="text-align: center;">{{countDown}}</span>
        <img ng-src="build/img/bathroom/icon_devicedetail_warning.png" class="error-img"/>
        <span class="msg" translate="bathroom.using"></span>
        <p class="font-col" translate="{{temperate}}"></p>
        <p class="font-col-per" translate="{{tempPercent}}"></p>
      </div>
    </div>

    <div class="temp-info" style="height: 6.5rem;width:100%;">
      <center>
        <canvas id="canvas" width="1800" height="1200"></canvas>
        <!--<canvas id="canvas01" width="1800" height="1200"></canvas>-->
        <!--<canvas id="canvas02" width="1800" height="1200"></canvas>-->
      </center>
    </div>
  </ion-content>

  <div class="toilet-handlenape-selec">
  </div>
  <!--<div class="toilet-handlenape-selec" ng-click="openModal();" ng-if="isWind">-->
  <div class="toilet-handlenape-selec" ng-click="openModal();" ng-if="true">
    <span class="handlenape-selec-des" translate="bathroom.wind"></span>
    <span class="handlenape-selec-use" translate="{{windType.type}}"></span>
    <img class="handlenape-selec-img" src="build/img/karess-controller/icon_scenario_arrow.png"/>
  </div>
  <!--<div class="toilet-handlenape-selec timer-div text-center"  ng-if="isTime">-->

 <!-- <div class="timer-div text-center">
    <span ng-if="isCountDown">{{countDown |  date:'HH:mm'}}</span>
  </div>-->
  <ion-scroll direction="y" style="white-space: nowrap;width: 100%;text-align: center;height: 5.4rem;" class="scroll-position">
    <div class="optation-div" style="background-color: #1D2334">
      <div class="switch-size" ng-repeat="item in bathroomData">
        <label class="switch-btn">
          <input class="checked-switch" type="checkbox" ng-model="item.isOpen" ng-click="getInfo(item)" ng-if="item.isCommon"/>
          <input class="checked-switch" type="checkbox" ng-model="item.isOpen" ng-click="showType(item)" ng-if="item.isBreathSwitch"/>
          <input class="checked-switch" type="checkbox" ng-model="item.isOpen" ng-click="getBathroomInfo(item)" ng-if="item.isSetting"/>
        <span class="text-switch">
          <img ng-src="{{item.switchPictureUrl}}" class="hot-img"/>
        </span>
          <div class="text-center">
              <p class="switch-desc" translate="{{item.desc}}"></p>
          </div>
        </label>

      </div>
      <div class="is-show-wind-switch" ng-if="isWindShow">
        <div class="breath" ng-if="isBreath">
          <div class="checkboxFour">
            <input type="checkbox" id="checkboxFourInput"  ng-model="t" ng-click="getCommon(t)"/>
            <label for="checkboxFourInput">
              <img ng-src="build/img/bathroom/duo.png" class="img-size"/>
              <span class="font-position" style="color: white;position: absolute;margin-left: -1.1rem;margin-top: 0.4rem;" translate="bathroom.commonModel"></span></label>
          </div>
        </div>

        <div class="breath-top" ng-if="isBreath">
          <div class="checkboxFour">
            <input type="checkbox" class="checkbox-position"  id="checkboxFourInput2" ng-model="m" ng-click="getAllDay(m)"/>
            <label for="checkboxFourInput2">
              <img ng-src="build/img/bathroom/duo.png" class="img-size"/>
              <br>
              <span class="font-position" style="color: white;position: absolute;margin-left: -0.35rem;margin-top: -1rem;" translate="bathroom.twentyModel"></span></label>
          </div>
        </div>
        <div class="breath-x" ng-if="isBreath">
          <div class="checkboxFour">
            <input type="checkbox" class="checkbox-position"  id="checkboxFourInput3" ng-model="m" ng-click="closeNav(m)"/>
            <!--<label for="checkboxFourInput3"><br><span class="font-position"><img ng-src="build/img/delete@2x.png" class="img-size"/></span></label>-->
            <label for="checkboxFourInput3"><img ng-src="build/img/bathroom/delete.png" class="img-size"/></label>
          </div>
        </div>
      </div>
    </div>

  </ion-scroll>
</ion-view>




