<ion-view view-title="设备控制-浴霸" class="bathroom-controller">
  <div class="bar bar-header header" style="background-image: none; height: 1.28rem">
    <button class="button button-icon icon ion-ios-arrow-left header_buttonRig" ng-click="goBack()"></button>
    <div class="h1 title header_title" style="height: 1rem;line-height:1rem">
      <span translate="" class="font-size">浴霸</span>
    </div>
    <div ng-click="openTimer()">
      <img ng-src="build/img/bathroom/btn_devicedetail_bathroomheater_time.png" class="time-img"/>
    </div>
    <!--<button class="button button-icon icon ion-more header_buttonRig" ng-click="openPopover($event)"></button>-->
  </div>
  <ion-content style="background-color: #0F0F0F">
    <div class="device-info">
      <div class="device-info-status">
        <img ng-src="build/img/bathroom/icon_devicedetail_box.png" class="signal-img"/>
        <span class="signal-text">信号很好</span>
        <img ng-src="build/img/bathroom/icon_devicedetail_box.png" class="error-img"/>
        <span class="msg">使用中</span>

      </div>
    </div>

    <ion-slide-box style="height: 6.5rem;width:100%;">
      <ion-slide>
        <div class="box blue"></div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow"></div>
      </ion-slide>
      <ion-slide on-slide-changed="slideHasChanged(index)">
        <div class="box pink"><h1>PINK</h1></div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>


  <ion-scroll direction="y" style="white-space: nowrap;width: 100%;text-align: center;height: 4.7rem;" class="scroll-position">
    <div class="optation-div" style="background-color: #1D2334">
      <div class="switch-size" ng-repeat="item in bathroomData">
        <label class="switch-btn">
          <input class="checked-switch" type="checkbox" ng-model="item.isOpen" ng-click="getInfo(item)" ng-if="item.isCommon"/>
          <input class="checked-switch" type="checkbox" ng-model="item.isOpen" ng-click="showType(item)" ng-if="item.isBreathSwitch"/>
          <input class="checked-switch" type="checkbox" ng-model="item.isOpen" ng-click="getBathroomInfo(item)" ng-if="item.isSetting"/>
        <span class="text-switch">
          <img ng-src="{{item.switchPictureUrl}}" class="hot-img"/>
        </span>
          <p class="switch-desc">{{item.desc}}</p>
        </label>
      </div>
      <div class="is-show-wind-switch" ng-if="isWindShow">
        <div class="breath" ng-if="isBreath">
          <div class="checkboxFour">
            <input type="checkbox" id="checkboxFourInput"  ng-model="t" ng-click="getCommon(t)"/>
            <label for="checkboxFourInput"><span class="font-position">普通</span><p class="font-position">模式</p></label>
          </div>
        </div>

        <div class="breath-top" ng-if="isBreath">
          <div class="checkboxFour">
            <input type="checkbox" class="checkbox-position"  id="checkboxFourInput2" ng-model="m" ng-click="getAllDay(m)"/>
            <label for="checkboxFourInput2"><br><span class="font-position">24H</span></label>
          </div>
        </div>
        <div class="breath-x" ng-if="isBreath">
          <div class="checkboxFour">
            <input type="checkbox" class="checkbox-position"  id="checkboxFourInput3" ng-model="m" ng-click="closeNav(m)"/>
            <label for="checkboxFourInput3"><br><span class="font-position">关闭</span></label>
          </div>
        </div>
      </div>
    </div>

    <!--<div style="height: 3rem;">

      <div>
        <div class="switch-size">
          <label class="switch-btn">
            <input class="checked-switch" type="checkbox" ng-model="ab" ng-click="getInfo(ab)"/>
            <span class="text-switch">
              <img ng-src="build/img/bathroom/hot.png" class="hot-img"/>
            </span>
            <p class="switch-desc">热风</p>
          </label>
        </div>
      </div>

      <div>
        <div class="switch-size">
          <label class="switch-btn">
            <input class="checked-switch" type="checkbox" ng-model="b" ng-click="getInfo(b)"/>
          <span class="text-switch">
            <img ng-src="build/img/bathroom/hot.png" class="hot-img"/>
          </span>
            <p class="switch-desc">凉风</p>
          </label>
        </div>
      </div>

      <div>
        <div class="switch-size">
          <label class="switch-btn">
            <input class="checked-switch" type="checkbox" ng-model="c" ng-click="getInfo(c)"/>
          <span class="text-switch">
            <img ng-src="build/img/bathroom/hot.png" class="hot-img"/>
          </span>
            <p class="switch-desc">冷干</p>
          </label>
        </div>
      </div>

      <div>
        <div class="switch-size">
          <label class="switch-btn">
            <input class="checked-switch" type="checkbox" ng-model="j" ng-click="getInfo(j)"/>
          <span class="text-switch">
            <img ng-src="build/img/bathroom/hot.png" class="hot-img"/>
          </span>
            <p class="switch-desc">热干</p>
          </label>
        </div>
      </div>

      <div>
        <div class="switch-size">
          <label class="switch-btn">
            <input class="checked-switch" type="checkbox" ng-model="e" ng-click="showType(e)"/>
          <span class="text-switch">
            <img ng-src="build/img/bathroom/hot.png" class="hot-img"/>
          </span>
            <p class="switch-desc">换气</p>
          </label>
        </div>

        <div class="is-show-wind-switch" ng-if="isWindShow">
          <div class="breath" ng-if="isBreath">
            <div class="checkboxFour">
              <input type="checkbox" id="checkboxFourInput"  ng-model="t" ng-click="getV(t)"/>
              <label for="checkboxFourInput"><span class="font-position">普通</span><p class="font-position">模式</p></label>
            </div>
          </div>

          <div class="breath-top" ng-if="isBreath">
            <div class="checkboxFour">
              <input type="checkbox" class="checkbox-position"  id="checkboxFourInput2" ng-model="m" ng-click="getV(m)"/>
              <label for="checkboxFourInput2"><br><span class="font-position">24H</span></label>
            </div>
          </div>
          <div class="breath-x" ng-if="isBreath">
            <div class="checkboxFour">
              <input type="checkbox" class="checkbox-position"  id="checkboxFourInput3" ng-model="m" ng-click="closeNav(m)"/>
              <label for="checkboxFourInput3"><br><span class="font-position">关闭</span></label>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="switch-size">
          <label class="switch-btn">
            <input class="checked-switch" type="checkbox" ng-model="d" ng-click="getInfo(d)"/>
          <span class="text-switch">
            <img ng-src="build/img/bathroom/hot.png" class="hot-img"/>
          </span>
            <p class="switch-desc">空气净化</p>
          </label>
        </div>
      </div>

      <div>
        <div class="switch-size">
          <label class="switch-btn">
            <input class="checked-switch" type="checkbox" ng-model="d" ng-click="getInfo(d)"/>
          <span class="text-switch">
            <img ng-src="build/img/bathroom/hot.png" class="hot-img"/>
          </span>
            <p class="switch-desc">风向</p>
          </label>
        </div>
      </div>

      <div>
        <div class="switch-size">
          <label class="switch-btn">
            <input class="checked-switch" type="checkbox" ng-model="h" ng-click="getInfo(h)"/>
          <span class="text-switch">
            <img ng-src="build/img/bathroom/hot.png" class="hot-img"/>
          </span>
            <p class="switch-desc">照明</p>
          </label>
        </div>
      </div>

      <div>
        <div class="switch-size">
          <label class="switch-btn">
            <input class="checked-switch" type="checkbox" ng-model="q" ng-click="getBathroomInfo(q)"/>
          <span class="text-switch">
            <img ng-src="build/img/bathroom/hot.png" class="hot-img"/>
          </span>
            <p class="switch-desc">设置</p>
          </label>
        </div>
      </div>

    </div>-->
  </ion-scroll>
</ion-view>


